.support-options{
background: #ffffff;
}
#queryCntr{
display : none;
}
.accordion-content ul{
  padding-left:20px;
}
#faq-banner h1, h2{
margin-bottom: 0px !important;
}
.panel-content h1, h2 {
    color: #002663;
    margin-bottom: 0!important;
}
.dls-container{
padding-top: 10px !important;
}
.no-padding{
padding: 0px !important;
}
.no-margin{
margin: 0px !important;
}
#queryCntr form{
  padding: 0 16%;
}

.devportal-info-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  background-color: #555;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 22px;
}

.devportal-info-icon:before {
  font-family: "dls-icons";
  content: "";
  width: auto;
}

.devportal-info-msg{
  margin-left: 8px;
  margin-top: 1px;
}

.devportal-input-prodName{
  width:auto;
}

.devportal-label-question{
  margin-top: 20px;
}

label {
  min-width: 120px;
  font-weight: bold;
}
label:after
{
  content:":";
}
@media screen and (min-width:1022px) {
  .support-lg {
  padding-left: 5rem;
  }
}


@media(max-width:767px) {
  .faq-h1-mobile {
    font-size: 18px!important;
  }

  .faq-banner-mobile{
    padding-top: 2rem!important;
  }

  #queryCntr form{
    padding: 0!important;
  }
}

@media (min-width: 768px) and  (max-width: 1199px), (min-width: 1199px) and (max-width: 768px) {
  .faq-h1-mobile {
    font-size: 20px!important;
  }

  .faq-banner-mobile{
    padding-top: 2rem!important;
  }

  #queryCntr form{
    padding: 0!important;
  }
}

.nav-item.open .nav-link > h2 {
    color: #1274b8 !important;
}

#faqCntr{
    color: #1274b8 !important;
    width: 90%;
    margin-left: 20px;
}

.devportal-app-dashboard .devportal-products-list-panel{
	background: url("https://web.aexp-static.com/EnterpriseAPIPortal/images/APIDevPortal/products-banner-blue-01.png") left top /cover no-repeat !important;
}
