<!--[if (lt IE 10)]> 
<p class="notice-message">Internet Explorer 9<sup>®</sup> and earlier versions are no longer supported by American Express. <a class="upgrd-msg" title="Upgrade your browser" href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Upgrade your browser</a> for better user experience. <a id="msg-clr" title="click here to close" href="#"><img src="<c:url value="/resources/images/close.png" />" title="Close"></a>
</p> 
<![endif]-->
<header class=" header devportal_header" style="opacity:1;transform: translate3d(0, 0, 0);background: #002663;position: relative;padding-bottom: 10px;">
  <div class="inner inner_large no-print">
    <div class="menu-btn"><span></span></div>
    <nav id="homepage-nav" class="home-nav-primary">
      <a ui-sref="home" class="site-logo homepage-anchor" routerLink="/home">
        <img src="../../../assets/axp-dev-portal/images/logo.jpg" alt="">
        <span>AMEX FOR DEVELOPERS</span>
      </a>
      <ul class="nav-list homepage-list">
        <li class="nav-list__item">
          <a class="homepage-anchor" ui-sref="products" routerLink="/products">Products</a>
        </li>
        <!-- <li class="nav-list__item">
					<a class="homepage-anchor" href="#">Reference</a>
				</li> -->
        <li class="nav-list__item">
          <a class="homepage-anchor" ui-sref="essentials" routerLink="/myapps">My Apps</a>
        </li>
        <li class="nav-list__item" *ngIf="isEAuth">
          <a class="homepage-anchor" ui-sref="apps-dashboard-landing" routerLink="/eauth">E-Auth</a>
        </li>
        <li class="nav-list__item" *ngIf="isPlatformAdmin">
          <a class="homepage-anchor" ui-sref="apps-dashboard-landing" routerLink="/platformAdmin">Platform Admin</a>
        </li>
        <li class="nav-list__item">
          <a class="homepage-anchor" ui-sref="apps-dashboard-landing" href="https://portals1.intra1.e1.v2.epaas.aexp.com/devportal-editor/#/"
            target="_blank">Swagger Editor</a>
        </li>
        <li class="nav-list__item">
          <a class="homepage-anchor" ui-sref="faqs" routerLink="/faq">FAQ</a>
        </li>
        <!--<li class="nav-list__item" >
					<a class="homepage-anchor" ui-sref="update-profile">Update Profile</a>
				</li>-->
        <li class="nav-list__item" *ngIf="isIntAdmin">
          <a class="homepage-anchor" ui-sref="apps-dashboard-landing" routerLink="/admin">INT Admin</a>
        </li>
        <li class="nav-list__item" *ngIf="isExtAdmin">
          <a class="homepage-anchor" ui-sref="apps-dashboard-landing" routerLink="/extAdmin">EXT Admin</a>
        </li>
        <li class="nav-list__item nav-list__item_split">
          <span><a class="homepage-anchor" ui-sref="home"(click)="logoutUser()">Logout </a> | </span>
          <span>Welcome {{username}}</span>
          <!--<span ><a class="homepage-anchor" ui-sref="login">Login </a> | </span>
					<span ><a class="homepage-anchor" ui-sref="register-sso">Sign Up</a> </span>
				</li> -->
      </ul>
    </nav>
  </div>
</header>
