    
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;" >

        <h1 >Search eAuth App using Application Name</h1>
        
        <div class="divContent admin-form-div"  >
            <label>Application Name</label>
             <!--<span [ngClass]="{'has-warning': !(myForm.controls['applicationName'].valid || (myForm.controls.applicationName.pristine && myForm.controls.applicationName.untouched ))}">-->
             <input type="text"  name="application name" class="form-control" [(ngModel)]="applicationName" [ngModelOptions]="{standalone: true}" placeholder="ENTER YOUR APPLICATION NAME*"  />
             <!--</span>-->
		        </div>
            <!--<small class="error" [hidden]="myForm.controls.applicationName.valid || (myForm.controls.applicationName.pristine && myForm.controls.applicationName.untouched )">
               Application Name must have alphanumeric characters and hyphen or underscore allowed
            </small>-->
     <div *ngIf="NoMsg" class="error " style="margin-left: 35px">Application not found</div>
     <div *ngIf="SuccessMsg" class="successPopupMsg" style="margin-left: 35px">Success! Application found</div>
    <div align="center" style="margin-right: 85px;">
     <button type="submit" allign="centre" class="btn btn-default" id ="addOrgBtn" [disabled]="!myForm.valid" title="button" >Search</button>
     </div>
    </div>
    </form>


  <div class="insertProd panel-content dls-panel-row panel" *ngIf="isValid" style="padding: 0.1rem; margin-left:10px" >
    <div class="divContent admin-form-div"  >
            <label>Application Name</label>
             <span >
             <input type="text" maxlength="100" name="applicationName" readonly placeholder="{{applicationName}}" class="form-control" />
             </span>
		        </div>
  <div class="divContent admin-form-div" >
            <label>Client Id</label>
             <span >
             <input type="text" maxlength="100" name="clientId" readonly placeholder="{{clientId}}" class="form-control" />
             </span>
		        </div>

  <div class="divContent admin-form-div">
            <label>Client Secret</label>
             <span >
             <input type="text" maxlength="100" readonly name="clientSecret" placeholder="{{clientSecret}}"  class="form-control" />
             </span>
		        </div>
  
</div>



   
 