
<div class="wrapper inner inner_large no-padding no-margin">
	<div class="dls-container no-padding no-margin">
		<div id="dls-page-container" class=" devportal-app-dashboard dls-content container-fluid page-active no-padding no-margin">
			<div class="dls-panel-row faq-banner-mobile no-padding no-margin " id="faq-banner">
				<div class="panel panel-heading-first devportal-mobile-jumbotron devportal-products-list-panel">
					<div class="panel-content no-padding no-margin">
						<h1 class="heading-5 dls-accent-white-01 " style="padding-left: 20px;">FAQ</h1>
					</div>
				</div>
			</div>
			<br>
			<div id="faqCntr" >
				
	<div style="width: 10%; float:left;">
		<div>
    <label style="text-transform: none; display : inline ">Show </label>
    <select name="pageSize" id="pageSize" [(ngModel)]="pageSize" class="form-control"  style="display:inline;min-height: 1.5rem;">
        <option value="2" >2</option>
        <option value="4" >4</option>
		<option value="10" >10</option>
        <option value="25" >25</option>
        <option value="50" >50</option>
		<option value="100" >100</option>
    </select>
		</div>
  </div>
				<div class="form-group">
					<input class="form-control ng-pristine" type="text" [(ngModel)] ="nameFilter" placeholder="Search Frequently Asked Questions" />
				</div>
				<div>
					<ul class="nav nav-vertical dls-nav"  *ngFor="let ques of question  | faq_filter : nameFilter | paginate: { itemsPerPage: pageSize, currentPage: currentPage } " >
						<li class="nav-item	accordion" style="background: #fff;margin-bottom: 10px;" >
							<a class="nav-link accordion-toggle" data-toggle="accordion"role="button" aria-haspopup="true">
								<h2 class="dls-accent-gray-04 heading-2" innerHTML="{{ques.questn}}"> </h2>
							</a>
							<div class="accordion-content" role="tabpanel" style="display: none;padding: 15px;">
								<ul class="nav">
									<li class="nav-item"><p innerHTML="{{ques.answer}}"></p></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div style="text-align: center; background-color: #EEEEEE;">
    			<pagination-controls autoHide="true" (pageChange)="currentPage = $event"></pagination-controls>
  			</div>
		</div>
	</div>
</div>
		