<div role="tabpanel" class="tab-pane fade in" id="PlatformProductsGridViewDiv" >
	<div id="getPlatformProducts">
      <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;" >
         <h1 >Company Platform</h1>
      </div>
		<div class="form-group" style="width:95%;margin-left: 20px; ">
              <div style="width: 100%;margin-bottom: 10px;">
                <div style="width: 100%;">
                        <label style="text-transform: none; display : inline  ">Show </label>
                        <select name="pageSize" id="pageSize" [(ngModel)]="pageSize" class="form-control"  style="width: 5%;display:inline;min-height: 35px;">
                            <option value="2" >2</option>
                            <option value="4" >4</option>
                            <option value="10" >10</option>
                            <option value="25" >25</option>
                            <option value="50" >50</option>
                            <option value="100" >100</option>
                        </select>
                        <label style="text-transform: none; display : inline  ">options</label>
                        <div style="width: 22%;float: right;" >
                            <input class="form-control " type="text" style="min-height: 35px; display : inline" [(ngModel)] ="mapFilter" placeholder="Search"/>
                        </div>
                </div>
              </div>
			<table id="platformProductsTable" style="clear:both;"	class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th style="width:40%;"(click)="sort(sortType,'orgName')">PLATFORM NAME <span *ngIf="sortVal == 'orgName' || sortVal == '-orgName'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
						<th style="width:20%;"(click)="sort(sortType,'organizationId')">PLATFORM ID <span *ngIf="sortVal == 'organizationId' || sortVal == '-organizationId'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
						<th style="width:20%;"(click)="sort(sortType,'dateCreated')">DATE CREATED <span *ngIf="sortVal == 'dateCreated' || sortVal == '-dateCreated'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
						<th style="width:20%;">MAP PRODUCTS</th>
					</tr>
				</thead>
				<tbody id="platformProductsTbody">
					<tr *ngFor="let item of platformDetails | orderBy:sortVal | mapplatformproductfilter:mapFilter | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
						<td>{{item.orgName}}</td>
						<td>{{item.organizationId}}</td>
						<td>{{item.dateCreated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
						<td><a class="mapproductbutton" (click)=productDetail(true,item);>Map Product</a></td>
					</tr>
				</tbody>
			</table>
            <div style="text-align: center; background-color: #EEEEEE;">
    			<pagination-controls autoHide="true" (pageChange)="currentPage = $event"></pagination-controls>
  			</div>
		</div>
    </div>
</div>
<div *ngIf="showModal" class="modal-overlay" tabindex="-1"></div>
<div *ngIf="showModal" class="modal" tabindex="-1" (click)="closeModal($event)" id="testModal" role="dialog" aria-hidden="true" align="center" style="opacity: 1;">
    <div class="modal-dialog modaldialog"  >
        <div class="modal-content modalcontent" >
            <div class="modal-header modalheader" >
                <div style="width:98%;">
                    <h4 class="modal-title" align="center" style="margin-bottom: 0px;text-transform: none;">Map Products to {{pname}} </h4>
                </div>
                <div style="width:2%;"><button type="button" class="close" style="padding: 0px;height: 25px;min-width:25px;" (click)="close()">&times;</button></div>
            </div>
            <hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;">
            <div class="modal-body modalbody" >
                <div role="tabpanel" class="tab-pane" id="grid">
                    <div id="getPlatformProducts" class="container">
                        <div  class="mappingProducts">
                                <div class="row"> 
                                    <div class="box1 col-md-6">
                                        <label style="text-transform: none" ><strong>Products Available for Mapping</strong></label>
                                        <div style="height:32px"><span style="font-size: 11px" [innerHTML]="textprodlist | sanitizeHtml" ></span>
                                            <span *ngIf="showprodfilter" style="float:right;padding-top:2px"><button type="button" class="btn btn-default" style="min-width:15px;padding: 2px;font-size: 10px;" (click)="resetFilter('right');">show all</button> </span>     
                                        </div>    
                                        <input class="form-control" type="text" placeholder="Filter" [(ngModel)] ="nameFilter" style="margin-bottom: 5px;" (ngModelChange)="valuechange($event,'right')">   
                                        <div class="btn-group">     
                                            <button type="button" class="arrow-button" id="moveAll" title="Move all" (click)="move('all','right')">       
                                                <i class="right-arrow"></i>   
                                                <i class="right-arrow"></i>  
                                            </button>     
                                            <button type="button" class="arrow-button" id="moveSelected" title="Move selected" (click)="move('selected','right')">  <!-- (click)="move('selected','right')"     -->
                                                <i class="right-arrow"></i>       
                                            </button>   
                                        </div>   
                                        <select #list1 multiple="multiple"  class="form-control" name="duallistbox_demo2_helper1" style="height: 172px;margin-top: 20px;"  > <!-- (change)="change($event.target.options,'right')" -->
                                            <option *ngFor="let item of prodList | orgfilter : nameFilter | orderBy: sortList" [value]="item.product_ID">{{item.product_name}}</option>
                                        </select> 
                                    </div>
                                    <div class="box2 col-md-6">   
                                        <label style="text-transform: none"><strong>Products Selected for Mapping</strong></label>   
                                        <div style="height:32px"><span style="font-size: 11px"[innerHTML]="textorglist | sanitizeHtml"></span>
                                            <span *ngIf="showorgfilter" style="float:right;;padding-top:2px"><button type="button" class="btn btn-default" style="min-width:15px;padding: 2px;font-size: 10px;" (click)="resetFilter('left');">show all</button> </span>     
                                        </div>        
                                        <input class="form-control" type="text" placeholder="Filter" [(ngModel)] ="productnameFilter" style="margin-bottom: 5px;" (ngModelChange)="valuechange($event,'left')">   
                                        <div class="btn-group ">     
                                            <button type="button" class="arrow-button" id="btnRemove" title="Remove selected" (click)="move('selected','left')">       
                                                <i class="left-arrow"></i>     
                                            </button>     
                                            <button type="button" class="arrow-button" id="btnRemoveAll" title="Remove all" (click)="move('all','left')">       
                                                <i class="left-arrow"></i>       
                                                <i class="left-arrow"></i>     
                                            </button>   
                                        </div>   
                                        <select #list2 multiple="multiple"  class="form-control" name="duallistbox_demo2_helper2" style="height: 172px;margin-top: 20px;" > <!-- (change)="change($event.target.options,'left')" -->
                                            <option *ngFor="let item of orgProdList | orgfilter : productnameFilter | orderBy: sortList"  [value]="item.product_ID">{{item.product_name}}</option>
                                        </select> 
                                    </div>
                                </div>
                                    <br>
                                    <div *ngIf="isFailure" class="error " style="margin-left: 35px"><strong>{{failureMsg}}</strong></div>
                                    <button type="button" class="btn btn-default" (click)="mapOrganisationToProducts()" style="min-width: 20px;padding: 5px 20px;">Map it</button>
                        </div>
                            <div class="box1 col-md-6">
                                <h3 style="padding-top: 10px;margin-bottom: 0px;" ><strong>Currently mapped products</strong> </h3><br>	
                                    <form id="currentlyMappedform" method="post">
                                        <div  id="apigeeProdInfo">
                                            <select #list3 name="apigeeproducts" class="form-control" id="apigeeProductsMapped" multiple="multiple">
                                                <option *ngFor="let item of prodListOrg" selected="selected" value="{{item.product_ID}}">{{item.product_name}}</option>
                                            </select>
                                        </div>
                                    </form>
                            </div>
                                        <div>
                                            <button type="button" style="min-width: 20px;padding: 5px 20px; margin-top: 10px" class="btn btn-default" (click)="deleteOrganisationToProducts()">Delete it</button>
                                        </div>
                        </div>
                    </div>
                </div>
                        <hr style="margin:20px 10px;padding: 0px;margin-bottom: 15px;">
                        <div>
                            <button type="button" class="btn btn-default done_btn" (click)="done()">Done</button>
                        </div>
            </div>
    </div>
</div>