<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
  <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;">
    <h1>Partner Token</h1>
  <div align="left" class="successPopupMsg"  style="padding-top: 20px;font-size: 16px;" *ngIf="showExists">
      <strong>A valid token already exists for this partner.</strong>
     </div>
    <div align="left" class="error"  style="padding-top: 20px;font-size: 16px;" *ngIf="showNotExists">
    <strong>No valid token found for this partner.</strong>
    </div>
    
    <div class="divContent admin-form-div" style="margin-top: 4%; padding: 0px;">
      <label>Partner:</label>
         <select name ="Partner" formControlName="partnerName" id="partnerName" class="form-control" [(ngModel)]="selectedPlatform" (change)="onChange(selectedPlatform)">
 		         <option [value]="0" [selected]=true >Select to begin</option>
                 <option *ngFor="let s of partnerList"  [value]="s.organizationId" >{{s.orgName+"-"+s.organizationId}}</option>
		        </select>
    </div>
    <div class="divContent admin-form-div" *ngIf="showtable" style="padding: 0px;">
      <div role="tabpanel" class="divContent admin-form-div" id="PublicProductsGridViewDiv" style="margin-top: 4%; padding: 0px;"
        *ngIf="showField">
        <label>Company Token:</label>
        <span [ngClass]="{'has-warning': !(myForm.controls['orgToken'].valid || (myForm.controls.orgToken.pristine ))}"> 
		         <input type="text" maxlength="100" formControlName="orgToken" name="productName" class="form-control" 
            (focus)="removeUpdateMsg()" title="Company Token" readonly/>
        </span>
    </div>
    <div role="tabpanel" *ngIf="showExp" class="divContent" id="PublicProductsGridViewDiv" style="margin-top: 4%; padding: 0px; ">
      <label>Expiry Date:</label>
      <input required [(ngModel)]='myVar' formControlName="tokenExpiry" class="form-control" ng2-datetime-picker placeholder="Token Validity*(Max 5 days)" 
       [date-only]="true"
       [time-only]="false"  
       [default-value]="myDate"
       [min-date]="minDate"
       [max-date]="maxDate" 
       date-format="MM/DD/YYYY"
      parse-format="MM/DD/YYYY" 
     />
      <small class="error" [hidden]="myForm.controls.tokenExpiry.valid  || myForm.controls.tokenExpiry.untouched ">
              This Field is required.
      </small>
    </div>
    <div role="tabpanel" class="divContent" id="PublicProductsGridViewDiv"
     style="margin-top: 4%; padding: 0px;">
      <label>Quota:</label>
      <span [ngClass]="{'has-warning': !(myForm.controls['tokenQuota'].valid || (myForm.controls.tokenQuota.pristine))}"> 
           <input type="text" [(ngModel)]="tokenQuota" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
           (keypress)="keyPress($event)" (ngModelChange)="validation($event)"  maxlength="2" required formControlName="tokenQuota" 
           name="tokenQuota" class="form-control" (focus)="removeUpdateMsg()" title ="Quota" [readonly]="isActiveToken" placeholder="Quota*(Max 20 Users)" />
        <small class="error" [hidden]="myForm.controls.tokenQuota.valid || (myForm.controls.tokenQuota.pristine && myForm.controls.tokenQuota.untouched )">
              This Field is required.
        </small>
        <small class="error"  *ngIf="quotaError"  >
             Please enter a value between 1 and 20
        </small>
        </span>
      </div>
      <div role="tabpanel" class="divContent " id="PublicProductsGridViewDiv" style="margin-top: 4%; padding: 0px;" *ngIf="showField">
        <div><label>Sign UP URL:</label></div>
        <span [ngClass]="{'has-warning': !(myForm.controls['extUrl'].valid || (myForm.controls.extUrl.pristine    ))}"> 
		         <input type="text" maxlength="100" formControlName="extUrl" id="extUrl" name="productName" class="form-control" 
            (focus)="removeUpdateMsg()" title="Sign UP URL" readonly style="display: inline-block;width:56%;"/>
        </span>
        <button type="button" style="min-width: 3.00rem;line-height: 0.2;height:25px;font-size:13px; margin-left : 20px;" (click)="copyToClipboard('extUrl');">Copy</button>
      </div>
      <div align="center" *ngIf="showField" style="margin-top: 25px">
        <button type="button" class="btn btn-default" id="addOrgBtn" [disabled]="!myForm.valid" 
        (click)="deactivateToken(selectedPlatform)">Deactivate Token</button>
       
      </div>
      <div align="center" *ngIf="showBut" style="margin-top: 4%; padding: 10px;">
        <button type="submit" class="btn btn-default" id="addOrgBtn" [disabled]="!myForm.valid || this.quotaError" >
          Generate Token</button>
      </div>
      <div align="left" class="successPopupMsg"  style="padding-top: 20px;font-size: 16px;" *ngIf="updatedMsg">
      <strong>  Token has been deactivated.</strong>
      </div>
     <div align="left" class="successPopupMsg"  style="padding-top: 20px;font-size: 16px;" *ngIf="updatedMsg1">
      <strong>  Token has been Generated.</strong>
     </div>
    
      </div>
      </div>
</form>
