.support-options{
background: #ffffff;
}
#queryCntr{
display : none;
}
.accordion-content ul{
  padding-left:20px;
}
#faq-banner h1, h2{
margin-bottom: 0px !important;
}
.panel-content h1, h2 {
    color: #002663;
  margin-bottom: 0!important;
}
.dls-container{
padding-top: 10px !important;
}
#queryCntr form{
  padding: 0 16%;
}

.devportal-info-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  background-color: #555;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 22px;
}

.devportal-info-icon:before {
  font-family: "dls-icons";
  content: "";
  width: auto;
}

.devportal-info-msg{
  margin-left: 8px;
  margin-top: 1px;
}

.devportal-input-prodName{
  width:auto;
}

.devportal-label-heading{
  margin-top: 45px;
}

.admin-form-div{
padding: 12px;
margin-right: 300px;
}

@media screen and (min-width:1022px) {
  .support-lg {
  padding-left: 5rem;
  }
}
.label label{
  font-family: BentonSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.float-label{
  float: left;
}   


@media(max-width:767px) {
  .faq-h1-mobile {
    font-size: 18px!important;
    font-style: bold;
    -webkit-box-align: center;
  }

  .faq-banner-mobile{
    padding-top: 2rem!important;
  }

  #queryCntr form{
    padding: 0!important;
  }
}

@media (min-width: 768px) and  (max-width: 1199px), (min-width: 1199px) and (max-width: 768px) {
  .faq-h1-mobile {
    font-size: 20px!important;
  }

  .faq-banner-mobile{
    padding-top: 2rem!important;
  }

  #queryCntr form{
    padding: 0!important;
  }
}

#faqCntr .nav-item.open .nav-link > h2 {
    color: #1274b8 !important;
}

.label, label {
    font-family: BentonSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
// .ng2-datetime-picker > .days .weekend {
//     color : #000 !important;
//     background-color: #ffffff !important;
// }