  <div role="tabpanel" class="tab-pane fade in" id="PlatformProductsGridViewDiv" >
	<div id="getPlatformProducts">
      <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;" >
         <h1 >Review below App Details</h1>
      </div>
		<div class="form-group" style="width:95%;margin-left: 20px; ">
			<table id="platformProductsTable" style="clear:both;"	class="table table-striped table-bordered" cellspacing="0" width="100%">
				        <tbody>
                            <tr>
                                <td>Sandbox Keyring Created Timestamp</td>
                                <td>08-FEB-17 02.21.57.000000 PM</td>
                            </tr>	
                            <tr>
                                <td>QA Access Requested Date</td>
                                <td>08-FEB-2017</td>
                            </tr>	
                            <tr>
                                <td>QA Access Status</td>
                                <td>PRODUCT APPROVED</td>
                            </tr>
                        </tbody>
			</table>
		</div>
    </div>
</div>

<div class= "col-xs-12 col-md-12" style="margin-left: 20px;" align="center" >
        <button  class="btn btn-default" value="Approve"  >Approve</button>
        <button  class="btn btn-default" value="Reject" >Reject</button>
</div>




