<div class="swagger-section" align="left">
  <div style="padding: 1% 7%;"><button type="button" class="prod-btn btn btn-default" (click)="backToDoc()">Back To Document</button></div>
  <div id="message-bar" class="swagger-ui-wrap" align="left">&nbsp;</div>
  <div id="swagger-ui-container" class="swagger-ui-wrap" align="left"></div>
</div>
