<div class="wrapper inner inner_large" style="height:80%">
  <div class="dls-menu menu">
    <div class="menu-container devportal-sidebar">
      <div id="sticky-anchor"></div>
      <div class="menu-viewport devportal-sidebar sticky" id="sticky_nav" style="max-height: none;">
        <div class="menu-status"></div>
        <div class="banner-bottom-grids">
          <nav class="menu-nav dls-docs-sidebar">
            <ul class="nav nav-vertical dls-nav">
              <li *ngFor="let entry of leftNav | keys; let i=index " (click)="addActiveClass(i)" [ngClass]="{'active': highlightedDiv === i ,'nav-item no-border' :true }">
                <a pageScroll [pageScrollOffset]="120" [href]="'#'+entry.key" class="nav-link">{{entry.value}}</a>
              </li>
              <li class="nav-item no-border"><a class="nav-link" (click)="navigateApiReference();">API Reference</a></li>
              <!-- onclick="getApiReference()" -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="dls-container">
    <div style="float:right;width:15%;margin-bottom: -11px;"> <strong>Document Version</strong></div>
    <div style="height:60px;clear:both;">
      <span><button type="button" class="prod-btn btn btn-default marginTop20" (click)="updateCurrentDoc('update')">Update Current Version</button></span>
      <span><button type="button" class="prod-btn btn btn-default marginTop20" (click)="updateCurrentDoc('create')">Create New Version</button></span>
      <span><button type="button" class="prod-btn btn btn-default marginTop20" (click)="updateCurrentDoc('publishCurrent')">Publish to Current</button></span>
      <span><button type="button" class="prod-btn btn btn-default marginTop20" (click)="updateCurrentDoc('publishBeta')">Publish to Beta</button></span>
      <span style="width: 24%;">
                 <select name="files" class="form-control marginTop20"  [(ngModel)]="lastModifiedFile" (ngModelChange)="loadDocument()">
                    <option *ngFor="let entry of selectArrayFiles  ; let i=index" [value]="entry">{{entry.toString().slice(0,-5)}}</option>
                    
                </select>
             </span>
    </div>
    <div *ngIf="isDocLoaded" id="prodAPIDoc" contenteditable="true" class="container col-md-10 section-documentation" style="text-align: left; position: relative;"
      [innerHTML]="documentation | sanitizeHtml" (focus)="focusFunction()">
      <!-- (focusout)="focusOutFunction()" -->
  </div>
</div>
</div>
<div style="margin-top:100px;">
</div>
<div *ngIf="showModal" class="modal" tabindex="-1" id="testModal" role="dialog" aria-hidden="true" align="center" style="opacity: 1;">
  <div class="modal-dialog" style="max-height:50px;  margin-top:275px; margin-bottom:20px; width: 400px ;">
    <div class="modal-content" style="border: 1px solid #000000;box-shadow: 1px 1px 1px #000000;height: 100%;padding: 3%;border-radius: 10px;">
      <label style="text-transform: none;font-size:20px;color: #060;">Document updated successfully</label>
    </div>
  </div>
</div>
