<div class="devportal-app-dashboard page-active" id="dls-page-container">
    <div class="dls-panel-row row-active no-padding">
        <div class="panel panel-heading-first devportal-products-list-panel ">
            <div class="panel-content inner inner_large ">
                <h1 class="heading-5 dls-accent-white-01">Platform Admin</h1>
            </div>
        </div>
    </div>
    <div class="wrapper inner inner_large no-padding">
        <div class="dls-menu menu">
            <div class="menu-container devportal-sidebar " style=" top: 1.8125rem;" position="relative">
                <div id="sticky-anchor"></div>
                <div class="menu-viewport devportal-sidebar" id="sticky_nav">
                    <div class="menu-status"></div>
                    <div class="banner-bottom-grids" style="padding-left: 5px;">
                        <nav class="menu-nav dls-docs-sidebar">
                            <ul id="leftNav" class="nav nav-vertical top308">
                                <li class="nav-item no-border " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link text-truncate " [routerLink]="['/platformAdmin', {outlets: {'platformAdmin-nav': ['pa-platform']}}]">Manage Users</a></li>
                                <li class="nav-item accordion"><a class="nav-link accordion-toggle" data-toggle="accordion" role="button" aria-haspopup="true" aria-expanded="true">Products</a>
                                    <div class="accordion-content" role="tabpanel" style="padding-left: 20px;">
                                        <ul class="nav">
                                            <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/platformAdmin', {outlets: {'platformAdmin-nav': ['pa_addproduct']}}]">Add Product</a></li>
                                            <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/platformAdmin', {outlets: {'platformAdmin-nav': ['pa_editproduct']}}]">Edit Product</a></li>
                                            <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" [routerLink]="['/platformAdmin', {outlets: {'platformAdmin-nav': ['pa_deleteproduct']}}]">Delete Product</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%; background: #fff">
            <router-outlet name="platformAdmin-nav"></router-outlet>
        </div>
    </div>
</div>