<form [formGroup]="myForm" *ngIf="isSubmitted" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel "  style="padding: 1.875rem 1.25rem;" >

        <h1 >Welcome, Create Your Enhanced Auth Application</h1>
        <div class="divContent admin-form-div"  >
            <label>Application Name</label> 
             <span [ngClass]="{'has-warning': !(myForm.controls['applicationName'].valid || (myForm.controls.applicationName.pristine && myForm.controls.applicationName.untouched ))}">
             <input type="text" maxlength="100" formControlName="applicationName" name="application name" class="form-control" (focus)="removeUpdateMsg()" placeholder="ENTER YOUR APPLICATION NAME*"  maxlength="100" title="applicationname"/>
             </span>
		        </div>
            <small class="error" [hidden]="myForm.controls.applicationName.valid || (myForm.controls.applicationName.pristine && myForm.controls.applicationName.untouched )">
               Application Name must have alphanumeric characters and hyphen or underscore allowed
            </small>

           
           <div class="divContent admin-form-div">
                <label>Product Name</label>
                <select  name="prodName" class="form-control " [(ngModel)]="prodNameList" [ngModelOptions]="{standalone: true}" multiple="">
                <option  *ngFor="let item of eAuthList" selected="selected" [value]="item.prodName">{{item.prodName}}</option>
           </select>
            </div>


            <div class="divContent admin-form-div"  >
            <label>Merchant Name</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['merchantName'].valid || (myForm.controls.merchantName.pristine && myForm.controls.merchantName.untouched ))}">
		        <input type="text" maxlength="40"  name="merchantName" formControlName="merchantName"  class="form-control"  placeholder="PROVIDE MERCHANT NAME*"  maxlength="100" title="merchantName"/>
            </span>
            </div>

             <small class="error" [hidden]="myForm.controls.merchantName.valid || (myForm.controls.merchantName.pristine && myForm.controls.merchantName.untouched )">
               Merchant Name must have alphanumeric characters and hyphen or underscore allowed
            </small>

             <div class="divContent admin-form-div"  >
            <label>User Email Id</label>
             <span>
		       <input type="text" maxlength="100" name="e-mail"  class="form-control" placeholder="{{emailValue}}" maxlength="40" title="email" readonly/>
             </span>
           </div>
          
            <div class="divContent admin-form-div"  >
            <label>Expected Volume</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['volume'].valid || (myForm.controls.volume.pristine && myForm.controls.volume.untouched ))}">
            <input type="text" maxlength="100" formControlName="volume" name="editAddressLine2" class="form-control" placeholder="PROVIDE EXPECTED VOLUME*"/>
            </span>
         </div>

            <small class="error" [hidden]="myForm.controls.volume.valid || (myForm.controls.volume.pristine && myForm.controls.volume.untouched )">
               Please enter a valid expected volume
            </small>

          <div class="divContent admin-form-div"  >
           <label>Callback URL</label>
           <span [ngClass]="{'has-warning': !(myForm.controls['callbackURL'].valid || (myForm.controls.callbackURL.pristine && myForm.controls.callbackURL.untouched ))}">
           <input type="text" maxlength="100"  name="callbackURL" id="addressLine2" formControlName="callbackURL" class="form-control" placeholder="PROVIDE CALLBACK URL*" title="callbackURL"/>
           </span>
          </div>

           <small class="error" [hidden]="myForm.controls.callbackURL.valid || (myForm.controls.callbackURL.pristine && myForm.controls.callbackURL.untouched )">
               Please enter Valid URL
            </small>
            
          
       </div>  
 <div *ngIf="isFailure" class="error" style="margin-left: 15px">{{failureMsg}}</div>   
 <div class="divContent admin-form-div" align="center" style="margin-left: 22px">
     <button type="submit" class="btn btn-default" id ="addOrgBtn" [disabled]="!myForm.valid"  >Submit</button>
     </div>
     <br><br><br>
</form>

 <div class="insertProd panel-content dls-panel-row panel" *ngIf="isValid" style="padding: 0.1rem; margin-left:10px" >
 <div class="successPopupMsg " style="margin-left:15px;margin-top: 45px;font-weight: bold">Your App has been created successfully</div>  
    <div class="divContent admin-form-div"  >
            <label>Application Name</label>
             <span >
             <input type="text" maxlength="100" name="applicationName" readonly placeholder="{{applicationName}}" class="form-control" />
             </span>
		        </div>
  <div class="divContent admin-form-div" >
            <label>Client Id</label>
             <span >
             <input type="text" maxlength="100" name="clientId" readonly placeholder="{{clientId}}" class="form-control" />
             </span>
		        </div>

  <div class="divContent admin-form-div">
            <label>Client Secret</label>
             <span >
             <input type="text" maxlength="100" readonly name="clientSecret" placeholder="{{clientSecret}}"  class="form-control" />
             </span>
		        </div>

     <div class="divContent admin-form-div" align="center" style="margin-left: 22px">
     <button type="button" class="btn btn-default" id ="addOrgBtn"  (click)="onClick();" >Back</button>
     </div>
  
</div>


	