<div *ngIf="showModal" class="modal-overlay"></div>
<div *ngIf="showModal" class="modal" id="sTimeout" role="dialog" aria-hidden="false" align="center" style="opacity: 1; height: 350px">
	<div class="modal-dialog modaldialog">
		<div class="modal-content modalcontent">

			<div class="modal-header modalheader" id="modalAdsUserHeader">
				<span style="width:95%;font-weight: 700;">
					<h2 class="modal-title" id="modalAdsUserLabel" align="center" style="margin-bottom: 0px;">
						You're' Session is About to Expire. Do something!
					</h2>
				</span>
			</div>
			<hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;">

			<div class="modal-body" id="adsUserModalBody" style="height:35%;">
				<div class="headingInfo resultAddUsers">
					<strong>{{idleState}}</strong>
				</div>

				<progressBar></progressBar>
			</div>
			<hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;">
			<button id="session-timeout-dialog-logout" type="button" class="btn btn-default" style="min-width:20px;padding:5px 20px;">Logout</button>
			<button id="session-timeout-dialog-keepalive" type="button" class="btn btn-primary" style="min-width:20px;padding:5px 20px;" data-dismiss="modal">Stay Connected</button>
		</div>
	</div>
</div>