.products-list-thumbmail { 
  min-height:160px; 
  height:160px;
  background:rgb(232,232,232);
  background-image:linear-gradient(to bottom, #ffffff 50%, #dcddd3);
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; 
}

.products-list-thumbmail:hover, .products-list-thumbmail:focus {
  background-image: linear-gradient(to bottom, #ecf5fa 50%, #98abb5);
}
.dls-menu .menu-container {
    position: relative;
}
.no-padding{
padding: 0px !important;
}

.no-margin{
margin: 0px !important;
}

.stick {
  position:fixed;
  top:0px !important;
}
.top308{
	top : 308px;
}
#leftNav .nav-item.active, #leftNav .nav-item.open{
	background-color: inherit !important;
}
.radio-margin{
	margin: 0 10px;
}
.devportal-app-dashboard .devportal-products-list-panel{
	background: url("https://web.aexp-static.com/EnterpriseAPIPortal/images/APIDevPortal/products-banner-blue-01.png") left top /cover no-repeat !important;
}

.devportal-sidebar .nav-item.active{
	display: block!important;
}

.admin-btn
{
border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    border-color: #337fbd;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: BentonSans;
    font-size: 12px;
    padding: 5px 14px;
    text-decoration: none;
    background-color: #337fbd;
}
.admin-table{
  padding-bottom: 0px;
}
.modal-title {
    font-size: 1.00rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2500;
    overflow: hidden;
    outline: 0;
    opacity: 0.5;
    background: #767676;
    
}
.red {
    color: red;
}
.green{
    color:green;
}
.cursor-pointer{
  cursor: pointer;
}
.admin-form-div{
padding: 12px;
margin-right: 300px;
}

.modaldialog{
    max-height:63%;
    margin-top: 150px;
    margin-bottom:50px;
    width: 550px;
    border-radius:10px;
}
.modaldialog2{
    max-height:80%;
    margin-top: 110px;
    margin-bottom:50px;
    width: 700px;
    border-radius:10px;
}

.modalcontent{
    border: 1px solid #888;
    box-shadow: 5px 5px 10px #888888;
    border-radius:10px;
    height:100%;
}
.modalheader{
    width:100%;
    padding: 1.15rem 1.05rem;
    padding-bottom:0.15rem;
    border-radius: 10px;
}
.search-button{
    border: 1px solid #1274b8;
    padding: 0.45rem 1.00rem;
    margin-top: 3px; 
    margin-bottom: 3px;
     min-width: 0rem;
}

.search{
  background-image: url('../../../assets/images/icons/stroke/dls-icon-search.svg'); 
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-size: 20px;
} 

.sortAscTypeImg{
    background: url('./../../../assets/images/glyphs/dls-glyph-down.svg') no-repeat bottom left;
    display: inline-block;
    width:16px;
    height:15px;
}
.sortDescTypeImg{
    background: url('./../../../assets/images/glyphs/dls-glyph-up.svg') no-repeat bottom left;
    display: inline-block;
    width:16px;
    height:15px;
}

.table thead th, .table-head  {
  font-weight: bold;
}

.table thead th{
  cursor: pointer;
}





.progress {
	background-image: -webkit-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
	background-image: -o-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb),
		to(#f5f5f5));
	background-image: linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',
		endColorstr='#fff5f5f5', GradientType=0);
	background-repeat: repeat-x
}

.progress-bar {
	background-image: -webkit-linear-gradient(top, #337ab7 0, #286090 100%);
	background-image: -o-linear-gradient(top, #337ab7 0, #286090 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7),
		to(#286090));
	background-image: linear-gradient(to bottom, #337ab7 0, #286090 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7',
		endColorstr='#ff286090', GradientType=0);
	background-repeat: repeat-x
}

.progress-bar-success {
	background-image: -webkit-linear-gradient(top, #5cb85c 0, #449d44 100%);
	background-image: -o-linear-gradient(top, #5cb85c 0, #449d44 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c),
		to(#449d44));
	background-image: linear-gradient(to bottom, #5cb85c 0, #449d44 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c',
		endColorstr='#ff449d44', GradientType=0);
	background-repeat: repeat-x
}

.progress-bar-info {
	background-image: -webkit-linear-gradient(top, #5bc0de 0, #31b0d5 100%);
	background-image: -o-linear-gradient(top, #5bc0de 0, #31b0d5 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de),
		to(#31b0d5));
	background-image: linear-gradient(to bottom, #5bc0de 0, #31b0d5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',
		endColorstr='#ff31b0d5', GradientType=0);
	background-repeat: repeat-x
}

.progress-bar-warning {
	background-image: -webkit-linear-gradient(top, #f0ad4e 0, #ec971f 100%);
	background-image: -o-linear-gradient(top, #f0ad4e 0, #ec971f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e),
		to(#ec971f));
	background-image: linear-gradient(to bottom, #f0ad4e 0, #ec971f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e',
		endColorstr='#ffec971f', GradientType=0);
	background-repeat: repeat-x
}

.progress-bar-danger {
	background-image: -webkit-linear-gradient(top, #d9534f 0, #c9302c 100%);
	background-image: -o-linear-gradient(top, #d9534f 0, #c9302c 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f),
		to(#c9302c));
	background-image: linear-gradient(to bottom, #d9534f 0, #c9302c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f',
		endColorstr='#ffc9302c', GradientType=0);
	background-repeat: repeat-x
}

.progress-bar-striped {
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}