    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 2.25rem;">

        <h1 >Search eAuth App using Merchant Name</h1>
        
        <div class="divContent admin-form-div"   >
            <label>Merchant Name</label>
             <!--<span [ngClass]="{'has-warning': !(myForm.controls['applicationName'].valid || (myForm.controls.applicationName.pristine && myForm.controls.applicationName.untouched ))}">-->
             <input type="text"  name="merchantName" class="form-control" [(ngModel)]="merchantName" [ngModelOptions]="{standalone: true}" placeholder="ENTER MERCHANT NAME*"  />
             <!--</span>-->
		        </div>
            <!--<small class="error" [hidden]="myForm.controls.applicationName.valid || (myForm.controls.applicationName.pristine && myForm.controls.applicationName.untouched )">
               Application Name must have alphanumeric characters and hyphen or underscore allowed
            </small>-->
    </div>
    <div *ngIf="NoMsg" class="PopupMsg " style="margin-left: 35px">No matching applications found.</div>
    <div align="center" style="margin-left: 30px;">
     <button type="submit" class="btn btn-default" id ="addOrgBtn" title="button"  [disabled]="!myForm.valid" >Search</button>
     </div>
    <div *ngIf="SuccessMsg" class="divContent" align="center" style="margin-left: 35px">Search Results</div>
 </form>  


               <div *ngIf="isValid">
			<ul class="nav nav-vertical dls-nav" >
				<li class="nav-item	accordion" style="background: #fff;margin-bottom: 10px;" ><a
						 class="nav-link accordion-toggle" data-toggle="accordion"
						 role="button" aria-haspopup="true"><h2 class="heading-2" innerHTML="{{name}}"> </h2></a>
					<div class="accordion-content" role="tabpanel" style="display: none;padding: 15px;">
						<ul class="nav">
                            <li class="nav-item">Client Id<br><p innerHTML="{{clientId}}"></p></li>
                            <li class="nav-item">Client Secret<p innerHTML="{{clientSecret}}"></p></li>
						</ul>
					</div>
			</ul>
			</div>
            


       