.support-options{
background: #ffffff;
}
#queryCntr{
display : none;
}
.accordion-content ul{
  padding-left:20px;
}
.panel-content h1, h2 {
    color: #002663;
  margin-bottom: 0!important;
}
.dls-container{
padding-top: 10px !important;
}
#queryCntr form{
  padding: 0 16%;
}

.devportal-info-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  background-color: #555;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 22px;
}

.devportal-info-icon:before {
  font-family: "dls-icons";
  content: "";
  width: auto;
}

.devportal-info-msg{
  margin-left: 8px;
  margin-top: 1px;
}

.devportal-input-prodName{
  width:auto;
}

.devportal-label-heading{
  margin-top: 45px;
}

.admin-form-div{
padding: 12px;
margin-right: 300px;
}
.label label{
  font-family: BentonSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.float-label{
  float: left;
}   

.label, label {
    font-family: BentonSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}