  <div role="tabpanel" class="tab-pane fade in" id="PlatformProductsGridViewDiv" >
	<div id="getPlatformProducts">
      <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;" >
         <h1 >Review below App Details</h1>
      </div>
		<div class="form-group" style="width:95%;margin-left: 20px; ">
			<table id="platformProductsTable" style="clear:both;"	class="table table-striped table-bordered" cellspacing="0" width="100%">
				        <tbody>
							<tr>
								<td>First Name</td>
								<td>Dineshh</td>
							</tr>
							<tr>
								<td>Last Name</td>
								<td>Darivemulla</td> 
							</tr>
						
							<tr>
								<td>Title</td>
								<td>Mr                            </td>
							</tr>
							<tr>
								<td>Business Name</td>
								<td>AMEX</td>
							</tr>
							<tr>
								<td>Email</td>
								<td>dinesh.darivemulla@aexp.com</td>
							</tr>
							<tr>
								<td>Phone Number</td>
								<td>6234989826              </td>
							</tr>
							<tr>
								<td>City</td>
								
								<td>Phoenix                            </td>
							</tr>
							<tr>
								<td>State</td>
								
								<td>UNITED STATES MINOR OUTLYING            </td>
							</tr>
							<tr>
								<td>Zipcode</td>
								<td>85027          </td>
							</tr>
							<tr>
								<td>Country</td>
								<td>UNITED STATES                 </td>
							</tr>
						</tbody>
			</table>
		</div>
    </div>
</div>

<div class= "col-xs-12 col-md-12" style="margin-left: 20px;" align="center" >
        <button  class="btn btn-default" value="Approve"  >Approve</button>
        <button  class="btn btn-default" value="Reject" >Reject</button>
</div>	
	
	
