.products-list-thumbmail { 
  min-height:160px; 
  height:160px;
  background:rgb(232,232,232);
  background-image:linear-gradient(to bottom, #ffffff 50%, #dcddd3);
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; 
}

.products-list-thumbmail:hover, .products-list-thumbmail:focus {
  background-image: linear-gradient(to bottom, #ecf5fa 50%, #98abb5);
}

.stick {
  position:fixed;
  top:0px !important;
}
.top308{
	top : 308px;
}
#leftNav .nav-item.active, #leftNav .nav-item.open{
	background-color: inherit !important;
}
.radio-margin{
	margin: 0 10px;
}
.devportal-app-dashboard .devportal-products-list-panel{
	background: url("https://web.aexp-static.com/EnterpriseAPIPortal/images/APIDevPortal/products-banner-blue-01.png") left top /cover no-repeat !important;
}

.devportal-sidebar .nav-item.active{
	display: block!important;
}
.mapproductbutton{
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    border-color: #337fbd;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: BentonSans;
    font-size: 12px;
    padding: 5px 14px;
    text-decoration: none;
    background-color: #337fbd;
}

.table thead th, .table-head  {
  font-weight: bold;
}

.table thead th{
  cursor: pointer;
}

.right-arrow{
  background-image: url('../../../assets/images/glyphs/dls-glyph-rightarrow.svg'); 
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.arrow-button{
    padding: 0px;
    background: transparent;
    border: 1px solid #1274b8;
}

.left-arrow{
  background-image: url('../../../assets/images/glyphs/dls-glyph-leftarrow.svg'); 
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2500;
    overflow: hidden;
    outline: 0;
    opacity: 0.5;
    background: #767676;
    
}

.modaldialog{
   max-height:100%; 
   height:80%;  
   margin-top: 110px; 
   margin-bottom:50px;
   width: 770px ;
   border-radius:10px;
}

.modalcontent{
    border: 1px solid #888;
    box-shadow: 5px 5px 10px #888888;
    border-radius:10px;
    height:100%;
}
.modalheader{
    width:100%;
    padding: 1.15rem 1.05rem;
    padding-bottom:0.15rem;
    border-radius: 10px;
}
.modalbody{
    padding: 0.05rem 0.625rem;
    height:377px;
    overflow-y: scroll
}

.filter-color{
            color: #fff;
            background-color: #f0ad4e !important;
}
.sortAscTypeImg{
    background: url('./../../../assets/images/glyphs/dls-glyph-down.svg') no-repeat bottom left;
    display: inline-block;
    width:16px;
    height:15px;
}
.sortDescTypeImg{
    background: url('./../../../assets/images/glyphs/dls-glyph-up.svg') no-repeat bottom left;
    display: inline-block;
    width:16px;
    height:15px;
}

.done_btn{
    min-width: 20px;
    padding: 5px 20px; 
    float: right; 
    margin-right: 20px;
}