.dls-menu .menu-container {
    position: relative;
}

.no-padding{
padding: 0px !important;
}

.no-margin{
margin: 0px !important;
}

.stick {
  position:fixed;
  top:0px !important;
}
.top308{
	top : 308px;
}
#leftNav .nav-item.active, #leftNav .nav-item.open{
	background-color: inherit !important;
}
.radio-margin{
	margin: 0 10px;
}
.devportal-app-dashboard .devportal-view-header{
	background: url("https://web.aexp-static.com/EnterpriseAPIPortal/images/APIDevPortal/products-banner-blue-01.png") left top /cover no-repeat !important;
}

.devportal-sidebar .nav-item.active{
	display: block!important;
}

.active{
    display: block!important;
    background-color: #f7f8f9;
    font-family: BentonSans-Medium;
    font-size: 16px!important;
    line-height: 26px;
}
