    <div class="devportal-app-dashboard page-active" id="dls-page-container">
        <div class="dls-panel-row row-active no-padding">
            <div class="panel panel-heading-first devportal-products-list-panel ">
                <div class="panel-content inner inner_large ">
                    <h1 class="heading-5 dls-accent-white-01">Products</h1>
                </div>
            </div>
        </div>
        <div class="wrapper inner inner_large no-padding">
            <div class="dls-menu menu">
                <div class="menu-container devportal-sidebar " style=" top: 1.8125rem;" position="relative">
                    <div id="sticky-anchor"></div>
                    <div class="menu-viewport devportal-sidebar" id="sticky_nav">
                        <div class="menu-status"></div>
                        <div class="banner-bottom-grids" style="padding-left: 5px;">
                            <nav class="menu-nav dls-docs-sidebar">
                                <ul id="leftNav" class="nav nav-vertical top308">
                                    <li class="nav-item no-border " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link text-truncate " [routerLink]="['/orgAdminActivities', {outlets: {'appdetails-nav': ['userProfile']}}]">User Profile</a></li>
                                    <li class="nav-item no-border " [routerLinkActive]="['active']" ><a class="nav-link text-truncate " [routerLink]="['/orgAdminActivities', {outlets: {'appdetails-nav': ['appInformation']}}]">App Information</a></li>
                                    <li class="nav-item no-border " [routerLinkActive]="['active']" ><a class="nav-link text-truncate " [routerLink]="['/orgAdminActivities', {outlets: {'appdetails-nav': ['workflowHistory']}}]">Workflow History</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%; background: #fff">
                <router-outlet name="appdetails-nav"></router-outlet>
            </div>
        </div>
    </div>
