<div role="tabpanel" class="tab-pane fade in" id="PlatformProductsGridViewDiv" >
	<div id="getPlatformProducts">
      <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;" >
         <h1 >Review below App Details</h1>
      </div>
		<div class="form-group" style="width:95%;margin-left: 20px; ">
			<table id="platformProductsTable" style="clear:both;"	class="table table-striped table-bordered" cellspacing="0" width="100%">
				<tbody>
                    <tr >
                        <td>Keyring Name</td>
                        <td>ApprovalFlow</td>
                    </tr>
                    <tr >
                        <td>Keyring SB Description</td>
                        <td>ApprovalFlow</td>
                    </tr>
                    <tr >
                        <td>Created By</td>
                        <td>Dineshh</td>
                    </tr>
                    <tr >
                        <td>Partner</td>
                        <td>AMEX PUBLIC</td>
                    </tr>
                    <tr >
                        <td>Mapped Product</td>
                        <td>ATM Locator</td>
                    </tr>
                    <tr >
                        <td>Requested Environment Access</td>
                        <td>QA</td>
                    </tr>
                </tbody>
			</table>
		</div>
    </div>
</div>

<div class= "col-xs-12 col-md-12" style="margin-left: 20px;" align="center" >
        <button  class="btn btn-default" value="Approve"  >Approve</button>
        <button  class="btn btn-default" value="Reject" >Reject</button>
</div>
    
  
  