<app-amex-session-timeout></app-amex-session-timeout>

<app-amex-header></app-amex-header>

<div id="main">
    <router-outlet></router-outlet>
    <div *ngIf="_model.isLoaderVisible" class="modal" tabindex="-1" id="testModal" role="dialog" aria-hidden="true" align="center" style="opacity: 0.8;">
        <div class="modal-dialog" style="max-height:150px;opacity: 0.8;  margin-top:300px; margin-bottom:20px; width: 400px ;">
            <div class="loader">
            </div>
        </div>
    </div>
</div>
<app-amex-footer></app-amex-footer>