.error{
    color : #a94442;
    margin-left: 1%;
    font-size: 90%;
}   
.has-warning .form-control, .has-warning .search.search > input, .has-warning .select[data-rendered], .has-warning .smart-field, .form-control-warning {
    color: inherit;
    background-color: #fbefec;
    border-color: #B42C01;
}

.successPopupMsg{
    color : rgb(0, 128, 0);
}