<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel" style="padding: 1.875rem 1.25rem;">
        <h1>Insert Product Data </h1>
        <div class="divContent admin-form-div">
            <label>Platform</label>
            <select name="productPlatform" formControlName="adminProduct" id="adminProduct" (focus)="removeUpdateMsg()" class="form-control" [(ngModel)]="selectOption" >
        <option [value]= "0" [selected]=true >Select to begin</option>
        <option *ngFor="let s of platformDetails" [value]="s.organizationId">{{s.orgName+" - "+s.organizationId}}</option>
        <!--<option *ngFor="let s of addPl"  [selected]="s.code =='AL'" >{{s.name}}</option>-->
        </select>
        </div>
        <div class="divContent admin-form-div" >
            <label>Product Name</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodName'].valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched ))|| isNamenotAvailable}">
		    <input type="text" maxlength="200" formControlName="prodName" name="prodName" (focus)="removeUpdateMsg()" class="form-control" placeholder="Product Name*"  maxlength="100" title="Product Name" (focusout)="checkProductName()"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodName.valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched )">
            Product Name must have alphanumeric characters, space and and hyphen allowed .
        </small>
        <small class="error" *ngIf="isNamenotAvailable && (myForm.controls['prodName'].valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched ))">
            Product Name already exist.Choose a different name.
        </small>
        <div class="divContent admin-form-div">
            <label>Product description</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodDescription'].valid || (myForm.controls.prodDescription.pristine && myForm.controls.prodDescription.untouched ))}">
	        <!--<input type="text" formControlName="prodDescription" name="prodDescription" id="prodDescriptionr" class="form-control" placeholder="Product description*" maxlength="24"    title="prodDescription"/>-->
            <textarea name="prodDescription" id="prodDescription" formControlName="prodDescription" (focus)="removeUpdateMsg()" class="form-control" placeholder="Product Description*" maxlength="254" title="Product Description" ></textarea>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodDescription.valid || (myForm.controls.prodDescription.pristine && myForm.controls.prodDescription.untouched )">
         Products Description must have alphanumeric characters only, space and hyphen allowed.
        </small>
        <div class="divContent admin-form-div">
            <label>Product Location</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodLocation'].valid || (myForm.controls.prodLocation.pristine && myForm.controls.prodLocation.untouched ))}">
	        <input type="text" maxlength="254" formControlName="prodLocation" name="prodLocation" (focus)="removeUpdateMsg()" id="prodLocation" class="form-control" placeholder="Product Location*" maxlength="24"    title="prodLocation"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodLocation.valid || (myForm.controls.prodLocation.pristine && myForm.controls.prodLocation.untouched )">
         Product Location must have alphanumeric characters only, space and hyphen allowed.
        </small>
        <div class="divContent admin-form-div" style="width: 180px;">
            <span style=" margin-right: 5px;"><label class="lblCategory">Category</label></span>
            <div style="width: 400px;">
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodCategoryPvt" name="prodCategory" formControlName="prodCategory" [ngModel]="prodCategory" value="PRIVATE" title="PRIVATE" style="margin-right:10px;"/>PRIVATE </span>
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodCategoryPub" name="prodCategory" formControlName="prodCategory" [ngModel]="prodCategory" value="PUBLIC" title="PUBLIC"  style="margin-right:10px;"/>PUBLIC</span>
            </div>
        </div>
        <div class="divContent admin-form-div" style="clear:both;float:left;margin-right: 20px;">
            <span style=" margin-right: 5px;"><label class="lblCategory">Select File</label></span>
        </div>
        <div class="divContent admin-form-div" style=" margin-left: 121px;">
            <input type="file" name="fileupload" formControlName="fileUpload" value="fileupload" id="fileupload" (change)="handleInputChange($event)"> <label for="fileupload"></label>
        </div>
        <small class="error" *ngIf="isInvalidFile">
            Upload valid JSON file .
        </small>
        <div class="divContent admin-form-div" style="clear:both;">
            <!--<select id="chstestprdct" name="choosecategory" formControlName="selectCategory" class="form-control" #category (change)="isApigeeProduct(category.value)" >-->
            <!--<option *ngFor="let s of dropdown" [ngValue]="s" [disabled]="s.value==0" >{{s}}</option>-->
            <!--<option value="nonapigee" [selected]="'nonapigee' == isApigeeProd">Non-Apigee Product </option>
              <option value="realtime" [selected]="'realtime' == isApigeeProd">Link Apigee Product </option>
             </select>-->
            <select name="chooseCategory" id="chooseCategory" formControlName="chooseCategory" [(ngModel)]="selectCategory" class="form-control" (change)="isApigeeProduct(selectCategory)">
        <option *ngFor="let item of selectcategory" [ngValue]="item.code">{{item.name}}</option>
        <!-- [disabled]="item.code==0" -->
        </select>
        </div>
        <br>
        <!--<span class="categoryValues" style="float: left">
            <input type="text" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct"  class="fieldtext" disabled />
            <input type="hidden" value="useridactive" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct" class="fieldtext" />
            </span>-->
        <div *ngIf="showtext">
            <!--<textarea ref-textarea [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" rows="4" disabled ></textarea>-->
            <div class="divContent admin-form-div">
                <label>Non-Apigee Product</label>
                <input type="text" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct" class="form-control" disabled />
            </div>
        </div>
        <div *ngIf="showmultiple">
            <div class="divContent admin-form-div">
                <label>Apigee Product</label>
                <select name="apigeeproducts" class="selectApigeeProducts form-control " id="apigeeproducts" multiple="">
                <option *ngFor="let item of textValue" selected="selected" value="{{item}}">{{item}}</option>
               <!--<option *ngFor="let item of apProdList" selected="selected" value="{{item}}">{{item}}</option>-->
           </select>
            </div>
        </div>
        <div class="divContent admin-form-div">
            <div *ngIf="errshowmultiple" class=" error" align="center" style="padding-top: 20px;font-size: 16px;"><strong>No Products Available temporarily..!!.</strong></div>
        </div>
        <!--<input type="text" id="nonapigeeproducts" name="nonapigeeproducts" class="fieldtext" [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" disabled />-->
        <div *ngIf="isSuccess" class="successPopupMsg " style="margin-left: 15px">Product successfully added.</div>
        <div *ngIf="isFailure" class="error" style="margin-left: 15px">{{failureMsg}}</div>
        <div class="divContent admin-form-div" align="center">
            <button type="submit" class="btn btn-default" id="addProdBtn2" [disabled]="!myForm.valid">Click to Add Products</button>
        </div>
    </div>
    <!--<div class="admin-form-div" style="width: 180px;float:left;">
								  <span style=" margin-right: 5px;"><label class="lblCategory">Category</label></span>
							</div>

             <div style="width: 400px; ">
									<input type="radio" id="prodCategoryPvt" name="prodCategory" value="PRIVATE" title="PRIVATE" checked />PRIVATE 
                  <input type="radio" id="prodCategoryPub" name="prodCategory" value="PUBLIC" title="PUBLIC" />PUBLIC
              </div>

    
   
      <div class="divContent admin-form-div"  style="clear:both;float:left;">
    <span style=" margin-right: 5px;"><label class="lblCategory">Select File</label></span>
</div>
<input type="file" name="fileupload" formControlName="fileUpload" value="fileupload" id="fileupload" (change)="handleInputChange($event)"> <label for="fileupload" ></label>



        <div style="margin-left:183px;clear:both;" >
            <select id="chstestprdct" name="choosecategory" formControlName="selectCategory" class="fieldtext" #category (change)="isApigeeProduct(category.value)"  >-->
    <!--<option *ngFor="let s of dropdown" [ngValue]="s" [disabled]="s.value==0" >{{s}}</option>-->
    <!--     <option value="nonapigee" [selected]="value==nonapigee">Non-Apigee Product</option>
              <option value="realtime" >Link Apigee Product</option>
             </select>
        </div>
<br>-->
    <!--<span class="categoryValues" style="float: left">
            <input type="text" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct"  class="fieldtext" disabled />
            <input type="hidden" value="useridactive" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct" class="fieldtext" />
            </span>-->
    <!--  <div *ngIf="showtext" style="width: 400px; float: left">-->
    <!--<textarea ref-textarea [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" rows="4" disabled ></textarea>-->
    <!--        
        <input type="text" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct"  class="fieldtext" disabled />
        </div>

        <div *ngIf="showmultiple" style="width: 400px; float: left">
           <select  name="apigeeproducts" disabled="disabled" class="selectApigeeProducts" id="apigeeproducts" multiple="">
               <option *ngFor="let item of textValue" selected="selected" value="{{item}}">{{item}}</option>
           </select>-->
    <!--<input type="text" id="nonapigeeproducts" name="nonapigeeproducts" class="fieldtext" [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" disabled />-->
    <!--</div>
        

    <div style="width: 580px; height: 40px;">
        <div style="width: 180px; float: left">
            <span style="float: left; margin-right: 5px;"><label class="lblCategory"></label></span>
        </div>

    </div>
<div style="width: 400px; float: left" class="">
<span style="float: left">

<button type="submit" class="btn btn-default" style="float: center;" id="addProdBtn2">Click to Add Products</button>
</span>
</div>
</div>-->
    <div *ngIf="showModal" class="modal-overlay" tabindex="-1"></div>
    <div *ngIf="showModal" class="modal" tabindex="-1" (click)="closeModal($event)" id="testModal" role="dialog" aria-hidden="true" align="center">
        <div class="modal-dialog">
            <div class="modal-content" style="border: 1px solid #888;box-shadow: 5px 5px 10px #888888;border-radius:10px;">
                <div class="modal-header" style="width:100%;padding: 1.05rem 0.05rem;padding-bottom:0.15rem;border-radius: 10px;">
                    <div style="width:90%;">
                        <h4 class="modal-title" align="center" style="margin-bottom: 0px;">Choose Apigee Products</h4>
                    </div>
                    <div style="width:10%;"><button type="button" class="close" style="padding: 0px;height: 25px;min-width:25px;" (click)="close()">&times;</button></div>
                </div>
                <hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;">
                <div class="modal-body" style="padding: 0.05rem 0.625rem;">
                    <div role="tabpanel" class="tab-pane" id="grid" style="height: 377px;overflow-y: auto;">
                        <div id="getPlatformProducts">
                            <div class="form-group">
                                <table id="appTable"  style="table-layout: fixed; width: 100%" class="table table-striped table-bordered" cellspacing="0" #categoryTable>
                                    <thead>
                                        <tr>
                                            <th style="width: 20%">AUTHOR</th>
                                            <th style="width: 60%">PRODUCT NAME</th>
                                            <th style="width: 20%">SELECT PRODUCTS</th>
                                        </tr>
                                    </thead>
                                    <tbody id="appTbody">
                                        <tr *ngFor="let item of newApigeeList; let rownumber = index ">
                                            <td style="width: 20%">{{item.author}}</td>
                                            <td style="width: 60%">{{item.name}}</td>
                                            <td style="width: 20%;text-align: center"><input type="checkbox" name="select" [(ngModel)]="item.state" [ngModelOptions]="{standalone: true}" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="hideTestModal" (click)="displaySelect()" style="min-width:20px;padding:5px 20px;">Done</button>
                </div>
            </div>
        </div>
    </div>
</form>