<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;">

        <h1>Edit Platform Information</h1>
        <div class="divContent admin-form-div" >
            <label>Select Platform</label>
              <span [ngClass]="{'has-warning': !(myForm.controls['platformName'].valid || (myForm.controls.platformName.pristine && myForm.controls.platformName.untouched ))}"> 
                <select name ="Platform" formControlName="platformName" id="platformName" class="form-control" [(ngModel)]="selectedPlatform" (focus)="removeUpdateMsg()" (change)="onChange(selectedPlatform)">
 		         <option [value]="0" [selected]=true >Select to begin</option>
                 <option *ngFor="let s of platformList"  [value]="s.organizationId" >{{s.orgName+"-"+s.organizationId}}</option>
		        </select>
              </span>
        </div>
        <small class="error" [hidden]="myForm.controls.platformName.valid || (myForm.controls.platformName.pristine && myForm.controls.platformName.untouched )">
        Please select a Platform .
        </small>
		<div class="divContent admin-form-div" >
            <label>Platform Name</label>
             <span [ngClass]="{'has-warning': (!(myForm.controls['orgName'].valid || (myForm.controls.orgName.pristine && myForm.controls.orgName.untouched ))|| isNamenotAvailable) && selectPlName}"> 
		        <input type="text" maxlength="100" formControlName="orgName" name="productName" class="form-control" (focus)="removeUpdateMsg()" placeholder="Platform Name*"  maxlength="100" title="Platform Name" [readonly]="!selectPlName"(focusout)="checkPlatformName()"/>
             </span>
        </div>
        <small class="error" [hidden]="(myForm.controls.orgName.valid || (myForm.controls.orgName.pristine && myForm.controls.orgName.untouched )) || !selectPlName ">
         Organization must have alphanumeric characters only, space and hyphen allowed .
        </small>
		<small class="error" *ngIf="isNamenotAvailable && (myForm.controls.orgName.valid || (myForm.controls.orgName.pristine && myForm.controls.orgName.untouched ))">
        Organization Name already exist.Choose a different name.
        </small>
		<div class="divContent admin-form-div" >
            <label>Phone Number</label>
            <span [ngClass]="{'has-warning': (!(myForm.controls['phoneNumber'].valid || (myForm.controls.phoneNumber.pristine  && myForm.controls.phoneNumber.untouched)))&& selectPlName}"> 
	            <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="24" (focus)="removeUpdateMsg()" formControlName="phoneNumber" name="editPhoneNumber" id="phoneNumber" class="form-control" placeholder="Phone Number*" [readonly]="!selectPlName" maxlength="24" title="PhoneNumber"/>
            </span>
        </div>
         <small class="error" [hidden]="(myForm.controls.phoneNumber.valid || (myForm.controls.phoneNumber.pristine && myForm.controls.phoneNumber.untouched)) || !selectPlName">
         Phone Number  is required .
        </small>   
		
		<div class="divContent admin-form-div">
            <label>Address Line 1</label>
            <span [ngClass]="{'has-warning': (!(myForm.controls['addressLine1'].valid || (myForm.controls.addressLine1.pristine && myForm.controls.addressLine1.untouched )))&& selectPlName}"> 
		        <input type="text" maxlength="40" formControlName="addressLine1" name="editAddressLine1" (focus)="removeUpdateMsg()" class="form-control" placeholder="Address Line 1*"  [readonly]="!selectPlName"   maxlength="40" title="Address Line 1"/>
            </span>
        </div>
		<small class="error" [hidden]="(myForm.controls.addressLine1.valid || (myForm.controls.addressLine1.pristine && myForm.controls.addressLine1.untouched)) || !selectPlName">
         Address must have alphanumeric characters only, space and hyphen allowed .
        </small>
		<div class="divContent admin-form-div">
            <label>Address Line 2</label>
		    <input type="text" maxlength="40" formControlName="addressLine2" name="editAddressLine2" (focus)="removeUpdateMsg()" id="addressLine2" class="form-control" placeholder="Address Line 2" [readonly]="!selectPlName"   maxlength="40" title="Address Line 2"/>
        </div>
       	<div class="divContent admin-form-div" >
            <label>Country</label>
            <!--<select name="country" id="country" formControlName="country" [(ngModel)]="selectCountry" class="form-control" (change)="getStatesList(selectCountry)" >
                <option *ngFor="let item of country" [ngValue]="item.countryCode" >{{item.country}}</option> 
            </select>-->
             <select name="country" id="country"  [(ngModel)]="selectCountry" [ngModelOptions]="{standalone: true}" class="form-control" (change)="getStatesList(selectCountry)" [disabled]="!selectPlName">
                <option *ngFor="let item of country" [ngValue]="item.countryCode" >{{item.country}}</option> 
            </select>

       	</div>
        <div class="divContent admin-form-div" >
            <label>State</label>
            <!--<select name="states" id="states" formControlName="states" [(ngModel)]="selectStates" class="form-control"  >
                <option *ngFor="let item of states" [ngValue]="item.regionCode" >{{item.state}}</option> 
            </select>-->
            <select name="states" id="states"  [(ngModel)]="selectStates" [ngModelOptions]="{standalone: true}" class="form-control" [disabled]="!selectPlName" >
                <option *ngFor="let item of states" [ngValue]="item.regionCode" >{{item.state}}</option> 
            </select>

       	</div>
         
		<div class="divContent admin-form-div">
            <label>City</label>
            <span [ngClass]="{'has-warning': (!(myForm.controls['city'].valid || (myForm.controls.city.pristine && myForm.controls.city.untouched )))&& selectPlName}"> 
		        <input type="text" maxlength="35" formControlName="city" name="city" id="city" class="form-control" (focus)="removeUpdateMsg()" placeholder="City*" maxlength="35" title="City" [readonly]="!selectPlName"/>
            </span>
        </div>
        <small class="error" [hidden]="(myForm.controls.city.valid || (myForm.controls.city.pristine && myForm.controls.city.untouched))|| !selectPlName">
         City is required .
        </small>
	
	<div class="divContent admin-form-div">
        <label>Zip</label>
        <span [ngClass]="{'has-warning': (!(myForm.controls['zip'].valid || (myForm.controls.zip.pristine  && myForm.controls.zip.untouched)))&& selectPlName}"> 
		    <input type="text" maxlength="15" onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="zip" (focus)="removeUpdateMsg()" name="zip" id="zip" class="form-control" placeholder="Zip*"  maxlength="15" title="Zip" [readonly]="!selectPlName"/>
        </span>
    </div>
    <small class="error" [hidden]="(myForm.controls.zip.valid || (myForm.controls.zip.pristine && myForm.controls.zip.untouched))|| !selectPlName">
         Please enter a valid 5 digit zip code .
    </small>
 </div>  
 <div *ngIf="updatedMsg" class="successPopupMsg " style="margin-left: 35px">Platform successfully updated.</div>  
 <div *ngIf="isFailure" class="error " style="margin-left: 35px">{{failureMsg}}</div>
 <div class="divContent admin-form-div" align="center" >   
     <button type="submit" class="btn btn-default" id ="addOrgBtn" [disabled]="!myForm.valid">Click to Edit Platform</button>
 </div>  
 
     <br><br><br>
</form>
