.support-options{
background: #ffffff;
}
#queryCntr{
display : none;
}
.accordion-content ul{
  padding-left:20px;
}
.panel-content h1, h2 {
    color: #002663;
  margin-bottom: 0!important;
}
.dls-container{
padding-top: 10px !important;
}
#queryCntr form{
  padding: 0 16%;
}

.devportal-info-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  background-color: #555;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 22px;
}

.devportal-info-icon:before {
  font-family: "dls-icons";
  content: "";
  width: auto;
}

.devportal-info-msg{
  margin-left: 8px;
  margin-top: 1px;
}

.devportal-input-prodName{
  width:auto;
}

.devportal-label-heading{
  margin-top: 45px;
}

.admin-form-div{
padding: 12px;
margin-right: 300px;
}

.label label{
  font-family: BentonSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.float-label{
  float: left;
}   

.label, label {
    font-family: BentonSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2500;
    overflow: hidden;
    outline: 0;
    opacity: 0.5;
    background: #767676;    
}
.modaldialog {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-flow: column;
    background-color: #FFF;
    max-height: 77%;  
    margin-top: 130px; 
    margin-bottom:50px; 
    width: 880px;
    border-radius: 10px;
}
.modalcontent {
border: 1px solid #888;
box-shadow: 5px 5px 10px #888888;
border-radius:10px;
}
.modalheader{
width:100%;
padding: 1.05rem 0.05rem;
padding-bottom:0.15rem;
border-radius: 10px;
}
