<div class="dls-container" style=" padding: 1.875rem 0rem; ">
  <div id="dls-page-container" class="dls-content container-fluid page-active">
    <form [formGroup]="myForm" novalidate>
      <div class="insertProd panel-content dls-panel-row panel admin-form-div " style="padding-top:0px; margin-right:0px;padding:0px;">
        <h1>Company Platform</h1>
        <select name="Platform" formControlName="adminPlatform" id="adminPlatform" class="form-control" [(ngModel)]="selectedPlatform"
          (change)="onChange(selectedPlatform)">
          <option [value]="0">Select to begin</option>
          <option *ngFor="let s of Platform" [value]="s.organizationId">{{s.orgName+" - "+s.organizationId}}</option>
          </select>
      </div>
      <div role="tabpanel" class="tab-pane fade in" id="PublicProductsGridViewDiv" style="margin-top: 1%;" *ngIf="showtable">
        <div *ngIf="errorMsg" class=" error" align="center"><strong>Please select at least one checkbox to update.</strong></div>
        <div style="margin-top: 1%;" align="center"><a (click)="isOpenUserModel(true)"><strong>Add User to this platform</strong></a></div>
        <div id="getPublicProducts">
          <div class="form-group">
            <div style="width: 22%;margin-bottom: 3px;float: right;">
              <input class="form-control " formControlName="search" type="text" style="min-height: 35px;" [(ngModel)]="nameFilter" placeholder="Search"
              />
            </div>
            <table id="publicProductsTable" class="table table-striped table-bordered admin-table " cellspacing="0" width="100%">
              <thead style="background: #ffffff">
                <tr>
                  <th style="width:10%;">Select</th>
                  <th style="width:10%;">Status</th>
                  <th class="cursor-pointer" style="width:10%;" (click)="sort(sortType,'userId')">UserId <span *ngIf="sortVal == 'userId' || sortVal == '-userId'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
                  <th class="cursor-pointer" style="width:20%;" (click)="sort(sortType,'fName')">First Name<span *ngIf="sortVal == 'fName' || sortVal == '-fName'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
                  <th class="cursor-pointer" style="width:20%;" (click)="sort(sortType,'lName')">Last Name<span *ngIf="sortVal == 'lName' || sortVal == '-lName'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
                  <th class="cursor-pointer" style="width:30%;" (click)="sort(sortType,'emailAddress')">EmailId<span *ngIf="sortVal == 'emailAddress' || sortVal == '-emailAddress'" [ngClass]="{'sortAscTypeImg': sortType == 'Asc','sortDescTypeImg': sortType == 'Desc'}"></span></th>
                </tr>
              </thead>
              <tbody id="publicProductsTbody">
                <tr *ngFor="let item of userDetails | orderBy:sortVal | filter : nameFilter; let rownumber = index ">
                  <td><input type="checkbox" name="select" [(ngModel)]="item.state" [ngModelOptions]="{standalone: true}" />&nbsp;</td>
                  <td [ngClass]="{'red':item.status === 'N','green':item.status === 'Y'} "><strong>{{item.status === "N" ? 'INACTIVE' : 'ACTIVE'}}</strong></td>
                  <td><a (click)="useridactive(true,item)"><strong>{{item.userId}}</strong></a></td>
                  <td>{{item.fName}}</td>
                  <td>{{item.lName}}</td>
                  <td>{{item.emailAddress}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-xs-12 col-md-12" style="margin-left: 20px;" align="center">
          <button class="btn btn-default" (click)="changeStatusOrDelete('U')">Click to change status</button>
          <button class="btn btn-default" (click)="changeStatusOrDelete('D')">Click to delete User</button>
        </div>
        <br><br><br>
      </div>
      <div *ngIf="showModal" class="modal-overlay" tabindex="-1"></div>
      <div *ngIf="showModal" class="modal" tabindex="-1" id="testModal" (click)="closeModal($event)" role="dialog" aria-hidden="true"
        align="center" style="opacity: 1;">
        <div class="modal-dialog modaldialog">
          <div class="modal-content modalcontent">
            <div class="modal-header modalheader">
              <span style="width:95%;font-weight: 700;"><h4 class="modal-title" align="center" style="margin-bottom: 0px;">Assign Role</h4></span>
              <button type="button" class="close" style="padding: 0;height: 23px;min-width:23px;" (click)="useridactive(false,'')">&times;</button>
            </div>
            <hr style="margin:0px 10px;padding: 0px;">
            <div class="modal-body" style="height:70%;">
              <h2 class="modal-title" align="center">Roles for UserId:{{userId}}</h2>
              <div *ngFor="let item of roles" align="left" style="margin-bottom: 0.3rem;" #userRole>
                <input type="radio" name="userRoleId" [(ngModel)]="userRoleId" [ngModelOptions]="{standalone: true}" value="{{item.roleId}}"
                  style="margin-right:5px;">{{item.roleName }}
              </div>
              <div *ngIf="updatedMsg" class="successPopupMsg">{{roleUpdatedMsg}}</div>
              <div *ngIf="failureMsg" class="error">{{rolefailureMsg}}</div>
            </div>
            <hr style="margin:0px 10px;padding: 0px;">
            <div class="modal-footer" align="center" style="padding-top:2%;">
              <button type="button" style="min-width: 4.25rem;line-height: 0.4667;" class="btn btn-default" id="hideTestModal" (click)="useridactive(false,'')">Close</button>
              <button type="button" style="min-width: 4.25rem;line-height: 0.4667;" class="btn btn-default" id="hideTestModal" (click)="updateUserRole()">Update Role</button>
            </div>
          </div>
        </div>
  </div>
  </form>
</div>
</div>
<div *ngIf="viewModal" class="modal-overlay" tabindex="-1"></div>
<div *ngIf="viewModal" class="modal" id="modalAdsUser" tabindex="-1" role="dialog" (click)="closeModal($event)" aria-hidden="true"
  align="center" style="opacity: 1;">
  <div class="modal-dialog modaldialog2">
    <div class="modal-content modalcontent">
      <div class="modal-header modalheader" id="modalAdsUserHeader">
        <span style="width:95%;font-weight: 700;"><h2 class="modal-title" id="modalAdsUserLabel" align="center" style="margin-bottom: 0px;">Add User to this Platform</h2></span>
        <button type="button" class="close" aria-label="Close" style="padding: 0;height: 23px;min-width:23px;" (click)="isOpenUserModel(false)">×</button>
      </div>
      <hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;">
      <div class="modal-body" id="adsUserModalBody" style="height:80%;">
        <div class="headingInfo resultAddUsers" id="resultAddUsers"></div>
        <div class="container addUsersMain">
          <div style="margin-bottom: 10px">
            <div class="error"  *ngIf="loggedInUser"><strong>You cannot ADD yourself to this platform.</strong></div>
            <div class="error" *ngIf="noIdEntered"><strong>Kindly enter an ADS ID to search.</strong></div>
            <div class="error" *ngIf="noUserAvailable"><strong>There is no user available in the record with this ADS ID.</strong></div>
          </div>
          <form [formGroup]="searchForm" novalidate (ngSubmit)="saveForm(searchForm.value, searchForm.valid)">
            <div class="divContent" style="text-align: left;">
              <div align="right" style="width:95%">
                <div class="input-group" align="center" style="max-width:100%;width: 73%">
                  <input type="text" class="form-control input-lg" placeholder="ADS ID*" id="adsIdBox" title="ADS ID" #adsId />
                  <span class="input-group-btn">
                                                        <button class="btn btn-info btn-lg search-button" type="button" id="searchAdsBtn" (click)="getUserDetails(adsId.value)" >
                                                        <i class="search"></i>
                                                        </button>
                                                    </span>
                </div>
              </div>
              <br>
              <div class="form-group" style="width: 100%">
                <div class="errorMessageAdsSearch" id="errorMessageAdsSearch" style="display: none;">There is no user available in the record with this ADS ID.</div>
                <label for="firstName" class="control-label" style="width: 25%">First Name</label>
                <input type="text" formControlName="firstName" readonly class="form-control" style="display: inline; width: 70%;" id="firstName"
                  placeholder="First Name*" readonly="true" title="First Name">
              </div>
              <div class="form-group" style="width: 100%">
                <label for="middleName" class="control-label" style="width: 25%">Middle Name</label>
                <input type="text" formControlName="middleName" readonly class="form-control" style="display: inline; width: 70%;" id="middleName"
                  placeholder="Middle Name" readonly="true" title="Middle Name">
              </div>
              <div class="form-group" style="width: 100%">
                <label for="lastName" class="control-label" style="width: 25%">Last Name</label>
                <input type="text" formControlName="lastName" readonly class="form-control" id="lastName" style="display: inline; width: 70%;"
                  placeholder="Last Name*" readonly="true" title="Last Name">
              </div>
              <div class="form-group" style="width: 100%">
                <label for="department" class="control-label" style="width: 25%">Department</label>
                <input type="text" class="form-control" readonly formControlName="dept" id="department" style="display: inline; width: 70%;"
                  placeholder="Department" readonly="true" title="Department">
              </div>
              <div class="form-group" style="width: 100%">
                <label for="leaderName" class="control-label" style="width: 25%">Leader</label>
                <input type="text" class="form-control" readonly formControlName="leader" id="leaderName" style="display: inline; width: 70%;"
                  placeholder="Leader" readonly="true" title="Leader">
              </div>
              <div class="form-group" style="width: 100%">
                <label for="userEmailId" class="control-label" style="width: 25%">Email</label>
                <input type="text" class="form-control" readonly formControlName="userEmailId" id="v" style="display: inline; width: 70%;"
                  placeholder="Email*" readonly="true" title="Email">
              </div>
              <div class="form-group" id="selectRoleDiv" style="width: 100%">
                <label for="selectRole" class="selectOrgLabel" style="width: 25%">Role</label>
                <span [ngClass]="{'has-warning': errorRolesClass}">
                                            <select class="form-control userRole" id="selectRole" [(ngModel)]="searchUserRole" [ngModelOptions]="{standalone: true}"  style="display: inline; width: 70%;" [disabled]="!rolesVisible">
                                            <option value="0">Select a role</option>
                                        
                                                        <option value="9">
                                                        EAUTH ADMIN                             
                                                        </option>
                                                    
                                                        <option value="7">
                                                        MERCHANT USER                           
                                                        </option>
                                                    
                                                        <option value="4">
                                                        ORG ADMIN                               
                                                        </option>
                                                    
                                                        <option value="3">
                                                        USER                                    
                                                        </option>
                                            </select>
                                        </span>
                <small *ngIf="errorRolesMsg" class="error" style="margin-left: 26%">Kindly choose a role to add a user.</small>
              </div>
              <div class="successPopupMsg" *ngIf="newUserAdded"><strong>ADS User added successfully.</strong></div>
              <div class="error" *ngIf="isNewUser"><strong>{{userAddFailureMsg}}</strong></div>
              <hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;">
              <div align="center" style="width:100%">
                <button type="submit" class="btn btn-primary" id="addADSUserBtn" [disabled]="!buttonVisible" (click)=" rolesSelected()">Add User</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
