<div>
    <div *ngIf="appCreated">
        <div style="padding: 20px; text-align: center;">
            {{createAppResponceMessage}}.<br> Click here to
            <a [routerLink]="['/viewuserapps', {outlets: {'applist-nav': ['applist']}}]">View your Apps</a>
        </div>
    </div>
    <div *ngIf="!appCreated">
        <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
            <div class="insertProd panel-content dls-panel-row panel" style="padding: 1.875rem 1.25rem;">

                <h1>Welcome, Create Your App For SandBox Environment </h1>
                <div class="divContent admin-form-div">
                    <label>Application Name</label>
                    <span [ngClass]="{'has-warning': !(myForm.controls['applicationName'].valid || (myForm.controls.applicationName.pristine && myForm.controls.applicationName.untouched ))}">  
            <input type="text" maxlength="100" formControlName="applicationName" name="applicationName"
                    class="form-control" placeholder="Enter Your Application Name*"
                    maxlength="100" title="Application Name" />
            </span>
                </div>
                <small class="error" [hidden]="myForm.controls.applicationName.valid || (myForm.controls.applicationName.pristine && myForm.controls.applicationName.untouched )">
        Application Name must have alphanumeric characters and hyphen or underscore allowed.
        </small>

                <div class="divContent admin-form-div" style="clear:both;">
                    <label>Platform Name</label>
                    <select name="choosePlatform" id="choosePlatform" formControlName="choosePlatform" [(ngModel)]="selectedPlatform" class="form-control"
                        (change)="onPlatformChange(selectedPlatform)">
                        <option *ngFor="let org of platforms" value="{{org.organizationId}}">{{org.orgName}}</option>
                        </select>
                </div>
                <!-- [disabled]="item.code==0" -->
                <br>
                <div *ngIf="products">
                    <div class="divContent admin-form-div">
                        <label>Product Name</label>
                        <select name="chooseProduct" id="chooseProduct" class="form-control" multiple="" (change)="setProductSelected($event.target)">
                    <option *ngFor="let item of products" value="{{item.id}}">{{item.name}}</option>
                 </select>
                    </div>
                </div>

                <div class="divContent admin-form-div">
                    <label>CallbackURL</label>
                    <span [ngClass]="{'has-warning': !(myForm.controls['callbackName'].valid || (myForm.controls.callbackName.pristine && myForm.controls.callbackName.untouched ))}">  
            <input type="text" maxlength="100" formControlName="callbackName" name="callbackName" class="form-control"  placeholder=" Provide Callback URL"  maxlength="100" title="Platform Name"/>
            </span>
                </div>
                <small class="error" [hidden]="myForm.controls.callbackName.valid || (myForm.controls.callbackName.pristine && myForm.controls.callbackName.untouched )">
       Please enter Valid URL.
        </small>

                <div class="divContent admin-form-div">
                    <label>Description</label>
                    <span [ngClass]="{'has-warning': !(myForm.controls['descriptionName'].valid || (myForm.controls.descriptionName.pristine && myForm.controls.descriptionName.untouched ))}">  
            <input type="text" maxlength="100" formControlName="descriptionName" name="descriptionName" class="form-control"  placeholder=" Provide your App description"  maxlength="100" title="Platform Name"/>
            </span>
                </div>
                <small class="error" [hidden]="myForm.controls.descriptionName.valid || (myForm.controls.descriptionName.pristine && myForm.controls.descriptionName.untouched )">
       Description must have alphanumeric characters and hyphen only allowed
        </small>

                <div class="divContent admin-form-div">
                    <label>Environment</label>
                    <input type="text" formControlName="envName" name="envName" class="form-control" placeholder="SandBox" maxlength="100" title="Environment Name"
                        disabled/>

                </div>

                <div class="divContent admin-form-div">
                    <label>Email Id</label>
                    <input type="text" formControlName="emailName" value="{{!userInfo ? '' : userInfo.eMail}}" name="emailName" class="form-control"
                        placeholder="Email Id" maxlength="100" title="Email Name" disabled/>
                </div>

                <div class="divContent admin-form-div">
                    <label>First Name</label>

                    <input type="text" formControlName="firstName" value="{{!userInfo ? '' : userInfo.fName}}" name="firstName" class="form-control"
                        placeholder="First Name" maxlength="100" title="First Name" disabled/>
                </div>

                <div class="divContent admin-form-div">
                    <label>Last Name</label>
                    <input type="text" maxlength="100" formControlName="lastName" value="{{!userInfo ? '' : userInfo.lName}}" name="lastName"
                        class="form-control" placeholder="Last Name" maxlength="100" title="Last Name" disabled/>

                </div>

                <div class="divContent admin-form-div">
                    <label>User Name</label>
                    <input type="text" formControlName="userName" name="userName" value="{{!userInfo ? '' : userInfo.userName}}" class="form-control"
                        placeholder="User Name" maxlength="100" title="User Name" disabled />

                </div>
                <!--<input type="text" id="nonapigeeproducts" name="nonapigeeproducts" class="fieldtext" [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" disabled />-->
                <!--<div *ngIf="updatedMsg" class="successPopupMsg " style="margin-left: 15px">Your App has been created successfully.</div>-->
                <div class="divContent admin-form-div" align="center">
                    <button type="submit" class="btn btn-default" id="addProdBtn2" [disabled]="!myForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>