<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel" style="padding: 1.875rem 1.25rem;">
        <h1>  Edit Product Data </h1>
        <div class="divContent admin-form-div">
            <label>Select Product</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['editProduct'].valid || (myForm.controls.editProduct.pristine && myForm.controls.editProduct.untouched ))}">
                <select name="editProduct" formControlName="editProduct" id="editProduct" class="form-control"  [(ngModel)]="selectedProduct"  (focus)="removeUpdateMsg()" (change)="onChange(selectedProduct)" >
                    <option [value]="0" [selected]=true >Select to begin</option>
 		            <option *ngFor="let s of adminProduct"  [value]="s.product_ID">{{s.product_name}}</option> <!--  [(ngModel)]="selectProduct" [selected]="s.orgId ==704" -->
		        </select>
                </span>
        </div>
        <small class="error" [hidden]="myForm.controls.editProduct.valid || (myForm.controls.editProduct.pristine && myForm.controls.editProduct.untouched  )">
                Please select product from the List .
            </small>
        <!--<div class="divContent admin-form-div">
            <label>Platform</label>
            <select name="platform" id="platform" formControlName="platform" [(ngModel)]="selectPlatform" class="form-control">
            <option *ngFor="let item of platformDetails" [value]="item.organizationId" >{{item.orgName}}</option> 
        </select>
        </div>-->
        <div class="divContent admin-form-div">
            <label>Product Name</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodName'].valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched ))}">
                <input type="text" formControlName="prodName" name="prodName" class="form-control" (focus)="removeUpdateMsg()" placeholder="Product Name*" maxlength="200"
                    title="Product Name" />
                </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodName.valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched )">
                Product Name must have alphanumeric characters, space and and hyphen allowed .
            </small>
        <div class="divContent admin-form-div">
            <label>Product Description</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodDescription'].valid || (myForm.controls.prodDescription.pristine && myForm.controls.prodDescription.untouched  ))}">
                 <textarea name="prodDescription" id="prodDescription" formControlName="prodDescription" (focus)="removeUpdateMsg()" class="form-control" placeholder="Product Description*" maxlength="254" title="Product Description" ></textarea>
                 </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodDescription.valid || (myForm.controls.prodDescription.pristine && myForm.controls.prodDescription.untouched )">
         Products Description must have alphanumeric characters only, space and hyphen allowed .
        </small>
        <div class="divContent admin-form-div">
            <label>Product Location</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodLocation'].valid || (myForm.controls.prodLocation.pristine && myForm.controls.prodLocation.untouched ))}">
                <input type="text" formControlName="prodLocation" name="prodLocation" id="prodLocation" (focus)="removeUpdateMsg()" class="form-control" placeholder="Product Location*"
                    maxlength="254" title="prodLocation" />
                 </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodLocation.valid || (myForm.controls.prodLocation.pristine && myForm.controls.prodLocation.untouched  )">
         Product Location must have alphanumeric characters only, space and hyphen allowed .
        </small>
        <div class="divContent admin-form-div" style="width: 180px;">
            <span style=" margin-right: 5px;"><label class="lblCategory">Category</label></span>
            <div style="width: 400px;">
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodCategoryPvt" name="prodCategory"  value="PRIVATE" title="PRIVATE" [ngModelOptions]="{standalone: true}" [ngModel]="prodCategory" style="margin-right:10px;"/>PRIVATE </span>
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodCategoryPub" name="prodCategory" value="PUBLIC" title="PUBLIC" [ngModelOptions]="{standalone: true}"  [ngModel]="prodCategory" style="margin-right:10px;"/>PUBLIC</span>
            </div>
        </div>
        <div class="divContent admin-form-div" style="width: 180px;">
            <span style=" margin-right: 5px;"><label class="lblCategory">Auto Approved</label></span>
            <div style="width: 400px;">
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodAprvYes" name="prodApproval" [ngModelOptions]="{standalone: true}" [ngModel]="prodApproval" value="Y" title="YES" style="margin-right:10px;"/>YES </span>
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodAprvNo" name="prodApproval" [ngModelOptions]="{standalone: true}" [ngModel]="prodApproval" value="N" title="NO"  style="margin-right:10px;"/>NO</span>
            </div>
        </div>

        <div class="divContent admin-form-div">
            <label>Product Owner Email</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodOwnerEmail'].valid || (myForm.controls.prodOwnerEmail.pristine && myForm.controls.prodOwnerEmail.untouched ))}">
	        <input type="text" maxlength="254" formControlName="prodOwnerEmail" name="prodOwnerEmail" (focus)="removeUpdateMsg()" id="prodOwnerEmail" class="form-control" placeholder="Product Owner Email*" title="prodOwnerEmail"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodOwnerEmail.valid || (myForm.controls.prodOwnerEmail.pristine && myForm.controls.prodOwnerEmail.untouched  )">
         Email must have alphanumeric characters only.
        </small>

        <div class="divContent admin-form-div">
            <label>PRC Group</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodPRCGroup'].valid || (myForm.controls.prodPRCGroup.pristine && myForm.controls.prodPRCGroup.untouched ))}">
	        <input type="text" maxlength="254" formControlName="prodPRCGroup" name="prodPRCGroup" (focus)="removeUpdateMsg()" id="prodPRCGroup" class="form-control" placeholder="PRC Group*"  title="prodPRCGroup"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodPRCGroup.valid || (myForm.controls.prodPRCGroup.pristine && myForm.controls.prodPRCGroup.untouched  )">
         PRC GROUP must have alphanumeric characters only, space and hyphen allowed .
        </small>
        <!--<input type="text" id="nonapigeeproducts" name="nonapigeeproducts" class="fieldtext" [(ngModel)]="textValue" [ngModelOptions]="{standalone: true}" disabled />-->
        <div *ngIf="updatedMsg" class="successPopupMsg " style="margin-left: 15px">Product successfully updated.</div>
        <div *ngIf="isError" class="error " style="margin-left: 15px">{{errorMsg}}</div>
        <div class="divContent admin-form-div" align="center">
            <button type="submit" class="btn btn-default" id="addProdBtn2" [disabled]="!myForm.valid">Click to Edit Products</button>
        </div>
    </div>
</form>