<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="insertProd panel-content dls-panel-row panel" style="padding: 1.875rem 1.25rem;">

        <h1> Insert Product Data </h1>
        <div class="divContent admin-form-div">
            <label>Product Name</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodName'].valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched ))}">
		    <input type="text" maxlength="200" formControlName="prodName" name="prodName" (focus)="removeUpdateMsg()" class="form-control" placeholder="Product Name*"  maxlength="100" title="Product Name"/>
            </span>
        </div>

        <small class="error" [hidden]="myForm.controls.prodName.valid || (myForm.controls.prodName.pristine && myForm.controls.prodName.untouched )">
         Product Name must have alphanumeric characters, space and and hyphen allowed .
        </small>

        <div class="divContent admin-form-div">
            <label>Product description</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodDescription'].valid || (myForm.controls.prodDescription.pristine && myForm.controls.prodDescription.untouched ))}">
            <textarea name="prodDescription" id="prodDescription" formControlName="prodDescription" (focus)="removeUpdateMsg()" class="form-control" placeholder="Product Description*" maxlength="254" title="Product Description" ></textarea>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodDescription.valid || (myForm.controls.prodDescription.pristine && myForm.controls.prodDescription.untouched )">
         Products Description must have alphanumeric characters only, space and hyphen allowed .
        </small>

        <div class="divContent admin-form-div">
            <label>Product Location</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodLocation'].valid || (myForm.controls.prodLocation.pristine && myForm.controls.prodLocation.untouched ))}">
	        <input type="text" maxlength="254" formControlName="prodLocation" name="prodLocation" (focus)="removeUpdateMsg()" id="prodLocation" class="form-control" placeholder="Product Location*" maxlength="24"    title="prodLocation"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodLocation.valid || (myForm.controls.prodLocation.pristine && myForm.controls.prodLocation.untouched )">
         Product Location must have alphanumeric characters only, space and hyphen allowed .
        </small>

        <div class="divContent admin-form-div" style="width: 180px;">
            <span style=" margin-right: 5px;"><label class="lblCategory">Category</label></span>
            <div style="width: 400px;">
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodCategoryPvt" name="prodCategory" [(ngModel)]="prodCategory" [ngModelOptions]="{standalone: true}" value="PRIVATE" title="PRIVATE" style="margin-right:10px;"/>PRIVATE </span>
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodCategoryPub" name="prodCategory" [(ngModel)]="prodCategory" [ngModelOptions]="{standalone: true}" value="PUBLIC" title="PUBLIC"  style="margin-right:10px;"/>PUBLIC</span>
            </div>
        </div>
        <div class="divContent admin-form-div" style="width: 180px;">
            <span style=" margin-right: 5px;"><label class="lblCategory">Auto Approved</label></span>
            <div style="width: 400px;">
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodAprvYes" name="prodApproval"  [(ngModel)]="prodApproval" [ngModelOptions]="{standalone: true}" value="Y" title="YES" style="margin-right:10px;" />YES </span>
                <span style="margin-right: 30px;vertical-align: top;"><input type="radio" id="prodAprvNo" name="prodApproval"   [(ngModel)]="prodApproval" [ngModelOptions]="{standalone: true}" value="N" title="NO"  style="margin-right:10px;"/>NO</span>
            </div>
        </div>
        
        <div class="divContent admin-form-div">
            <label>Product Owner Email</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodOwnerEmail'].valid || (myForm.controls.prodOwnerEmail.pristine && myForm.controls.prodOwnerEmail.untouched ))}">
	        <input type="text" maxlength="254" formControlName="prodOwnerEmail" name="prodOwnerEmail" (focus)="removeUpdateMsg()" id="prodOwnerEmail" class="form-control" placeholder="Product Owner Email*"   title="prodOwnerEmail"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodOwnerEmail.valid || (myForm.controls.prodOwnerEmail.pristine && myForm.controls.prodOwnerEmail.untouched )">
          Product Owner Email is invalid.
        </small>

        <div class="divContent admin-form-div">
            <label>PRC Group</label>
            <span [ngClass]="{'has-warning': !(myForm.controls['prodPRCGroup'].valid || (myForm.controls.prodPRCGroup.pristine && myForm.controls.prodPRCGroup.untouched ))}">
	        <input type="text" maxlength="254" formControlName="prodPRCGroup" name="prodPRCGroup" (focus)="removeUpdateMsg()" id="prodPRCGroup" class="form-control" placeholder="PRC Group*"  title="prodPRCGroup"/>
            </span>
        </div>
        <small class="error" [hidden]="myForm.controls.prodPRCGroup.valid || (myForm.controls.prodPRCGroup.pristine && myForm.controls.prodPRCGroup.untouched )">
         PRC Group must have alphanumeric characters only, space and hyphen allowed .
        </small>
                <div class="divContent admin-form-div" style="clear:both;" >
              <select name="chooseCategory" id="chooseCategory" [(ngModel)]="selectCategory" [ngModelOptions]="{standalone: true}" class="form-control" (change)="isApigeeProduct(selectCategory)">
                <option *ngFor="let item of selectcategory" [ngValue]="item.code" >{{item.name}}</option> 
              </select>
        </div>
<br>

        <div *ngIf="showtext" >
            <div class="divContent admin-form-div">
                    <label>Non-Apigee Product</label>
                    <input type="text" id="nonapigeeproducts" name="nonapigeeproducts" value="NonApigeeProduct"  class="form-control" disabled />
            </div>

        </div>

        <div *ngIf="showmultiple" >

            <div class="divContent admin-form-div">
                <label>Apigee Product</label>
                <select  name="apigeeproducts" class="selectApigeeProducts form-control " id="apigeeproducts" multiple="">
                <option *ngFor="let item of textValue" selected="selected" value="{{item}}">{{item}}</option>
           </select>
            </div>
        </div>       
        <div *ngIf="isSuccess" class="successPopupMsg " style="margin-left: 15px">Product successfully added.</div>   
        <div *ngIf="isFailure" class="error" style="margin-left: 15px">{{failureMsg}}</div>   
        <div  class="divContent admin-form-div" align="center">
            <button type="submit" class="btn btn-default"  id="addProdBtn2" [disabled]="!myForm.valid">Click to Add Products</button>
        </div>
    </div>

    <div *ngIf="showModal" class="modal-overlay" tabindex="-1"></div>
        <div *ngIf="showModal" class="modal" tabindex="-1" (click)="closeModal($event)" id="testModal" role="dialog" aria-hidden="true" align="center">
            <div class="modaldialog" >
                <div class="modal-content modalcontent" >
                    <div class="modal-header modalheader" >
                        <div style="width:90%;">
                            <h4 class="modal-title" align="center" style="margin-bottom: 0px;">Choose Apigee Products</h4>
                        </div>
                        <div style="width:10%;"><button type="button" class="close" style="padding: 0px;height: 25px;min-width:25px;" (click)="close()">&times;</button></div>
                    </div>
                    <hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;">
                    <div class="modal-body" style="padding: 0.05rem 0.625rem;">
                        <div role="tabpanel" class="tab-pane" id="grid" style="height: 377px;overflow-y: auto;">
                            <div id="getPlatformProducts">
                                <div class="form-group">
                                    <table id="appTable" class="table table-striped table-bordered" cellspacing="0" #categoryTable style="width:100%">
                                        <thead>
                                            <tr style="width:100%">
                                                <th style="width:20%;">AUTHOR</th>
                                                <th style="width:70%;">PRODUCT NAME</th>
                                                <th style="width:10%;">SELECT PRODUCTS</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody id="appTbody" >
                                            <tr  *ngFor="let item of newApigeeList; let rownumber = index ">
                                                <td>{{item.author}}</td>
                                                <td>{{item.name}}</td>
                                                <td><input type="checkbox" name="select" [(ngModel)]="item.state" [ngModelOptions]="{standalone: true}" /></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                            <hr style="margin:0px 10px;padding: 0px;margin-bottom: 15px;"> 
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" id="hideTestModal" (click)="displaySelect()" style="min-width:20px;padding:5px 20px;">Done</button>
                            </div>
                </div>
        </div>
    </div>

</form>