<div id="home-body-content" class="scene-wrap">
	<section class="scene scene_hero">
		<div class="back parallax" id="canvas-wrap" data-stellar-ratio="0.3">
			<canvas id="hero-canvas" class="home-canvas"></canvas>
			<img src="../../assets/axp-dev-portal/images/hero-overlayer.png" alt="" class="hero-img">
		</div>
		<div class="front front_vcent" style="padding-top: 0px">
			<div class="banner banner-catalog">
					<div class="container ">
						<div class="banner-header top-pad75 text-left">American Express APIs</div>
						<div class="banner-text top-pad25 text-left">
							<br> <h2>American Express for Developers <br> <br>Learn, Code, Connect. <br>
									<br>Discover and explore what services American Express has exposed via APIs.
								</h2>
						</div>
					</div>
			</div>

			<div class="hero-devices swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide ">
						<div class="device device_left ipad">
							<img src="../../assets/axp-dev-portal/images/ipad.png" alt="" class="device-frame">
							<img src="../../assets/axp-dev-portal/images/ipad-content.jpg" class="device-screen" alt="">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="device device_center imac">
							<img src="../../assets/axp-dev-portal/images/imac.png" alt="" class="device-frame">
							<img src="../../assets/axp-dev-portal/images/imac-content.jpg" class="device-screen" alt="">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="device device_right iphone">
							<img src="../../assets/axp-dev-portal/images/iphone.png" alt="" class="device-frame">
							<img src="../../assets/axp-dev-portal/images/iphone-content.jpg" class="device-screen" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="scene scene_api ">
		<div class="back gradient" style="background-image: url('../../assets/axp-dev-portal/images/shape.jpg');"></div>
	</section>
</div>