.banner-catalog {
    background-image: url(../../assets/axp-dev-portal/images/amex-api-catalogue-heroimage.jpg);
}

.banner {
    background-color: grey;
    color: #fff;
    width: 100%;
    vertical-align: top;
    height: 328px;
    background-size: cover;
}

.panel-content h1, h2 {
     color:#fff;
    margin-bottom: 1.25rem;
}

h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.0125rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.banner-header {
    color: #fff;
    font-size: 42px;
    padding-top: 48px;
    padding-right: 26px;
}

.banner-header, .banner-text, .text-static {
    font-weight: Light;
    text-align: center;
}

.banner-header, .banner-text, .text-error, .text-static {
    font-family: BentonSans;
}

.banner-text {
    color: #fff !important;
    font-size: 17px!important;
    padding-top: 33px!important;
}

.top-pad25 {
    padding-top: 25px !important;
}

.text-left {
    text-align: left !important;
}

.scene_api {
    padding-top: 0px !important; 
    padding-bottom: 150px !important;
}

