blockquote, p {
    line-height: 1.5em;
    padding: 0px 0px 1em;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video 
{
    vertical-align: baseline;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
}

#footer {
    width: 100%;
    line-height: 17px;
    font-style: normal;
    color :#333;
    /*color: rgb(103, 103, 103);*/
    font-family: "BentonSans Regular", Arial;
    background: linear-gradient(rgb(255, 255, 255) 50%, rgb(220, 221, 221));
    font-size: .8125rem !important;
    padding: 20px 10px;
    /*padding-bottom: .625rem !important;*/
    margin-bottom: 0;
}

.center {
    display: block;
    text-align: -webkit-center;
}

.homepage-footer-common, .homepage-footer {
    font-family: BentonSans-Regular, Arial;
    border-top: 1px solid #ededed;
    text-align: center;
    background: #f7f8f9;
    
}
a {
    font-size: 1.2rem;
}